[2016-12-08 13:01] YurySolovyov commented on #271
Not sure what you mean. `getState` gives you the latest state as if it was direct reference in reducer for example.

This makes these functions easily testable, since they are so simple.
I think Redux docs are the best evidence of that.

[2016-12-08 13:50] KeitIG commented on #294
I was thinking about that recently. There's a lot of things we could delegate to the main process. Even if we can only pass strings between Renderer and Main.

We could also imagine to cache the generated wavebars somewhere in a JSON file in `~/.config`.
___

About all the rest (RMS...), I have no idea at the moment.

[2016-12-08 13:55] YurySolovyov commented on #294
@KeitIG problem with main process is that we can't access the DOM from there, so no API calls possible.

[2016-12-08 13:57] KeitIG commented on #271
Fair. But if they don't exist, they don't need to be tested. :stuck_out_tongue_closed_eyes:

Just saw it was a middleware from Dan Abramov, so I'm ok with that if this saves us tons of time.

[2016-12-08 13:58] bodyflex commented on #294
this might be a problem for the caching. as the web audio API would only be available in the browser (right?), the waveforms would have to be transferred to the backend as strings. I have no clue how performant backend/frontend communication is in Electron.

storing waveform data as JSON might also be an option, but I wonder how useful it would be since the images would anyway be pretty static so

[2016-12-08 13:59] KeitIG commented on #271
Should I understand that using `store.dispatch()` is wrong ? :fearful:

[2016-12-08 14:01] YurySolovyov commented on #271
Not really, it is just `Flux`-y

[2016-12-08 14:02] KeitIG commented on #294
It won't be static and we won't generate images for wavebars. It'll be generated SVG or pure HTML or something like that.

Only quality work here :|

[2016-12-08 14:03] KeitIG commented on #271
Good to know. It made the transition to redux smoother though.

[2016-12-08 14:04] KeitIG commented on #271
For actions creators, should we create an issue for them so ? Or make everything here ?

[2016-12-08 14:05] YurySolovyov commented on #271
Yeah, it is actually the last Flux-ism I know we have, even though we don't use Flux for some time already

[2016-12-08 15:23] bodyflex commented on #294
I'm all about quality work, trust me! :) I just don't necessarily think waveforms are best represented vectorially. however, this completely depends on what kind of waveform is desired. I'm going to start experimenting with drawing some waveforms with the web audio API.

[2016-12-08 15:33] YurySolovyov commented on #294
@KeitIG any ideas how to integrate them in current design?

AIMP kinda has what looks acceptable for me:
![image](https://cloud.githubusercontent.com/assets/2168518/21015895/b1493c90-bd74-11e6-82ab-eac1e645d8df.png)

Might be a good reason to try out full-width progress bar.

[2016-12-08 15:38] KeitIG commented on #294
@YurySolovyov I have some idea indeed, but it will imply some PlayingBar redesign

[2016-12-08 18:18] bodyflex commented on #294
here's the result of my initial experimentation:
https://gist.github.com/bodyflex/e4f6c9ec0fdea9450fd9303dd088b96d

select an audio file with the form input to see the waveform and look into the console for some simple statistics. it uses the RMS method I mentioned but with a very small window, so not really that useful yet.

next I will try to draw the waveform with SVG.

[2016-12-08 18:26] YurySolovyov commented on #294
@bodyflex can you console.time + timeEnd this thing for a particular file?

[2016-12-08 18:30] bodyflex commented on #294
it already measures the durations (console.time wasn't flexible enough for my needs). a song that is a bit short of four minutes long takes a bit longer than 0.5s to calculate the values and render to canvas. a 7.5 minute track takes ~1.5s.

[2016-12-08 20:44] fluffymadness opened #295 "[Feature Suggestion] Remove Tracks from Library/Filesystem"
Maybe its already implemented, since I use the latest stable and not the git version.
Would it be possible to add a remove from library option, maybe with a dialog box that pops up asking if the file(s) should be deleted too.
I'd love to have this, listening a bit through my library right now and atm I have to open the explorer for every track I don't want anymore so that i can remove it.
The look

[2016-12-08 21:04] KeitIG commented on #294
With an animation and eventually a cache system, it should be fine

[2016-12-08 21:05] KeitIG commented on #295
Hello, it will be implemented in #135, I'm currently working on it ;)

[2016-12-09 11:18] bodyflex commented on #294
what kind of animation do you mean specifically? highlighting the current playback position in the SVG waveform is pretty trivial using masks at least.

[2016-12-09 13:12] KeitIG commented on #294
I did not think about that specifically. With some data, I could work on the design and the flux implementation. But roughly, we could imagine a fade animation when the player enter in "play" mode, and then update the bars with some transition when a track changes (an example, even if we won't have the same scale/graph https://bl.ocks.org/RandomEtc/cff3610e7dd47bef2d01)

[2016-12-09 13:13] KeitIG commented on #294
One question is "will it replace the current progress bar or will it just be a background information ?". Just things I have to play with

[2016-12-09 13:22] bodyflex commented on #294
I'd say that if it's enabled it should replace the default seek bar. of course then the progress would need to be displayed on the waveform.

[2016-12-09 13:24] YurySolovyov commented on #294
@bodyflex think about how usable that would be

[2016-12-09 13:27] bodyflex commented on #294
@YurySolovyov what usability problems do you see? I'd argue that it's even more usable since the clickable area is higher! :)

[2016-12-09 13:39] YurySolovyov commented on #294
@bodyflex I'd say it might look unfamiliar to users. We should try to integrate it, no replace

[2016-12-09 13:43] bodyflex commented on #294
I don't think that's a problem if it's an optional feature! once a user chooses to enable waveform seek bars in the settings they surely anticipate that something will change in the UI and the change shouldn't confuse them. but I agree that *by default* the "classic" seek bar should be used.

[2016-12-09 13:46] YurySolovyov commented on #294
@bodyflex we could have modes like `default`, `overlay`, `replace` for it, so users can choose.

[2016-12-09 14:04] bodyflex commented on #128
is it really necessary to get rid of HTML5 audio though? it can still be used with AudioContext using [`createMediaElementSource()`](https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/createMediaElementSource): https://developers.google.com/web/updates/2012/02/HTML5-audio-and-the-Web-Audio-API-are-BFFs

it's so much easier to control playback with HTML5 audio than it is with the web aud

[2016-12-09 14:58] KeitIG commented on #128
That's what was planned.

When I say "drop HTML <audio> element", I'm speaking about the whole player system, not the things that play/decode music.

This may change in the future though if we decide to use `ffmpeg` to decode audio, and not `<audio>`

[2016-12-09 15:00] KeitIG commented on #294
About options and all that stuff, please remember that Museeks is not meant to be modular for now. It's meant to provide experience **we** think is the best for the user.

We're talking about a music player, not something you will spend 8 hours a days on.

[2016-12-09 15:02] KeitIG commented on #294
great job here

[2016-12-09 15:10] dkniffin commented on #294
Although, I'd really like to discuss this in #260.

But I do spend 8 hours a day (or more) listening to music :trollface:

[2016-12-09 15:11] YurySolovyov commented on #128
@bodyflex @KeitIG it seems like if we just do the simplest thing possible to replace `<audio />` with `AudioContext`, it won't be all that hard. The question is: what next?

For ffmpeg it would be useful to employ chinked encoding to avoid converting the whole file at once.

For other stuff, I'm not sure what benefit we can get from WebAudio at this point, though I think it is still important.

[2016-12-09 15:43] KeitIG commented on #128
All the issues depending on this ? (equalizer, crossfade ...)

[2016-12-09 16:16] bodyflex commented on #294
updated [the gist](https://gist.github.com/bodyflex/e4f6c9ec0fdea9450fd9303dd088b96d) now. it plays music with an `<audio>` element and visualises the progress on the waveform. you can also skip around the track. @KeitIG at this resolution, SVG seems like a suitable solution!

[2016-12-09 16:36] YurySolovyov commented on #294
@bodyflex can you post a screenshot? Just curious

[2016-12-09 16:52] bodyflex commented on #294
![screen shot 2016-12-09 at 18 51 29](https://cloud.githubusercontent.com/assets/7894563/21057007/8a7a4b32-be40-11e6-8d7d-05995b796998.png)

just so you know: you only need to save that gist in an HTML file and open it (in Chrome). it should work out of the box!

[2016-12-09 18:00] KeitIG commented on #294
I'll try to test it this week-end :)

[2016-12-10 18:18] insanetesterftw opened #296 "Add support for the opus file format"

[2016-12-10 18:35] YurySolovyov commented on #296
Blocked by #114 I guess

[2016-12-11 10:34] KeitIG commented on #296
Chromium supports it, is it a file with metadata ? http://caniuse.com/#feat=opus

[2016-12-11 14:09] Joseph65 opened #297 "Cover Art View"
Could you make the playlist view so i can browse songs With the Cover Art.

[2016-12-11 23:03] KeitIG commented on #297
See https://github.com/KeitIG/museeks/issues/130

[2016-12-11 23:04] #297 closed

[2016-12-12 14:39] SirWindfield commented on #114
Did you consider to use upx to pack the binary?

[2016-12-12 16:31] KeitIG commented on #296
Apparently, Opus is just an OGG with the `.opus` extension, so nothing hard here.

[2016-12-12 16:50] YurySolovyov commented on #296
@insanetesterftw can you provide an example file?

[2016-12-12 19:42] YurySolovyov commented on #248
@KeitIG

Need explanation of what is meant by "ignore" - keep duplicates or dedupe them?

[2016-12-12 20:03] KeitIG commented on #248
If the file is already in DB, ignore him when re-importing it.

[2016-12-12 20:12] KeitIG commented on #296
http://www.opus-codec.org/examples/

[2016-12-13 07:59] #296 closed

[2016-12-13 22:12] #271 closed

[2016-12-14 10:38] YurySolovyov opened #301 "Slim down bundle size."
I'll track some stuff we can do to make bundle size smaller. No milestone, just stuff we can always take a look at.
1. use `webpack.optimize.DedupePlugin()`. Super easy, just need to update `webpack.config.js`

[2016-12-14 13:27] dkniffin commented on #292
Sorry, I've been distracted the past week. I'll take care of this now.

[2016-12-14 17:26] #292 closed

[2016-12-15 12:39] KeitIG commented on #301
Is it done ?

[2016-12-15 12:41] YurySolovyov commented on #301
Nope, I have some more ideas. Will update post later.

[2016-12-19 04:49] mlanner opened #304 "Support cloud services for storage"
Museeks is great and it would be even greater if it could use a object storage backend, like OpenStack Swift or Amazon S3, for all the music. Then, it could either stream or sync (download) selected music directly from the cloud storage. If you need/want storage to test against, I'm happy to provide that and any pointers on how to use it.

[2016-12-19 07:34] KeitIG commented on #304
Hello, thanks for the idea. I had it in mind for some times, but didn't want to post it since it will probably not be targeted for 1.0.

**Might** be possible with #260, if we get time and resources to achieve it.

[2016-12-24 08:33] KeitIG opened #305 "Cover Component"
In order to achieve https://github.com/KeitIG/museeks/issues/130, we should create a `Cover` component.

- Just with a string parameter with the folder to scan.
- Remove cover from the store

[2016-12-28 22:27] vprigent commented on #295
Perhaps we should reconsider the ability to delete a file directly from the app ?
#227 is mainly a way for me to delete files, but also allows to rename/modify and easily find a file.

It does not seems a top priority to me, but advanced update and destroy operations seems a must-have on music player

[2016-12-29 17:32] KeitIG commented on #295
@vprigent:

Let's create a new issue for that and discussions it there please :)

Some updates for this issue : this has been done on a local branch I will push when I consider it ready.

[2017-01-11 14:18] dkniffin commented on #259
@Suriteka Where are we at with this? If you don't have time, I could probably crank this out real quick.

[2017-01-13 13:27] dkniffin opened #306 "Page up, page down, home, end in library view"
We should add support for these keys in the library view, for quicker movement without a mouse. Page up/down would move one page up/down. Home would go to the top of the library. End would go to the bottom.

[2017-01-13 21:13] dkniffin commented on #41
Alright, got it in there:
![image](https://cloud.githubusercontent.com/assets/1680080/21945775/36cc1e58-d9ab-11e6-8156-13d9f4064135.png)

I'll make a PR

[2017-01-14 21:17] Shuffler opened #308 "Lyrics support"
Add lyrics support from famous lyrics APIs like MusiXmatch

[2017-01-15 09:32] aleclarson commented on #155
I would really like to have this. 😄

[2017-01-21 15:01] demil opened #309 "Access to player que and database"
Hi, i would like to make mobile app from which i could control museeks player and i would really appreciate help because i am little confused with redux and react structure.

I just want to know where i need to put script which will contains all socket.io logics and will have access to app, player and database, from which i could change states of it from all routes when app is active.

Thank you v

[2017-01-23 07:58] KeitIG commented on #309
Hello and thanks for your interest!

We do not currently expose any API to a certain port, because we never thought about it. It would not be complicated though, we could imagine an API endpoint or something created by the main processus, then dispatche them to the renderer process, and you could just send post message on it.

But I have no Idea about how secure ans how reliable it would be (you w

[2017-01-25 01:49] demil opened #310 "Automaticly set que on library if there are songs"
When we start app we must double click on first song in library. How can i make to app automaticly initialize que from library without double clicking?

[2017-01-25 09:11] KeitIG commented on #310
You might be looking for this https://github.com/KeitIG/museeks/issues/223

[2017-01-25 09:11] #310 closed

[2017-01-26 16:38] dkniffin commented on #135
Wow, I didn't realize how much of a pain this is until I got some new music. I tried doing a refresh, it froze (or took forever, not sure), so I deleted the `museeks` config dir, and now I'm doing a fresh db import, and it's taken hours so far. Not sure if something's changed, but I don't remember it being this painfully slow the first time I did the import.

[2017-01-26 17:36] KeitIG commented on #135
@dkniffin this bug is fixed in the branch of this current issue. You'll need to delete the conf folder again though.

[2017-01-26 17:38] KeitIG commented on #135
God I really need to finish this.

[2017-01-27 13:57] dkniffin commented on #135
Oh wow! Yea, that fixed it. It finished in a matter of minutes, instead of hours. We should definitely get this merged soon.

[2017-01-27 17:17] KeitIG opened #311 "Ctrl-F focuses the search input"
All in title

[2017-02-02 10:45] MrBlenny commented on #53
Any updates?

[2017-02-02 10:48] KeitIG commented on #53
@MrBlenny We just have to wait an Electron release including Chrome 56. I'm not really as confident as before as the beta version of electron includes Chrome... 54 :sob:

So I can't give you any ETA.

[2017-02-02 11:12] MrBlenny commented on #53
Out of interest, do you know how flac support is achieved [here](https://github.com/mashaal/destroyer)?

[2017-02-02 11:13] YurySolovyov commented on #53
@MrBlenny with
`"fluent-ffmpeg": "2.0.1",`

[2017-02-02 11:25] MrBlenny commented on #53
I suspected as much.
Is implementation of a `ffmepg` solution difficult or just a time cost you are trying to avoid given the potential release of 56 soon?

Given that it took 4 months for electron to upgrade from chrome 53 to 54 - it seems we could be waiting quite a while longer for 54 to move to 56.

[2017-02-02 11:35] KeitIG commented on #53
@MrBlenny FFMPEG is something we will most probably support in the future. @YurySolovyov has already done an excellent job with it, there are just a few drawbacks we still need to discuss about, like getting metadatas in a as robust way as `musicmetadata`, the interface between Museeks and FFMPEG...

[2017-02-02 11:45] YurySolovyov commented on #53
@MrBlenny ffmpeg will require significant changes, so the way we could make it work is by shipping flac from Chrome first, then we'll implement ffmpeg based approach.

[2017-02-02 12:42] vprigent commented on #53
Chrome 56 is on it's way with electron https://github.com/electron/electron/pull/8501

[2017-02-05 19:58] levrik commented on #53
@MrBlenny The upgrade from Chrome 53 to 54 took so long because the Chrome team switched their build system from gyp to gn. From what I noticed, it was really difficult to make that work with Electron.

[2017-02-20 08:49] KeitIG opened #312 "comma-dangle: ["error", "always-multiline"]"
We should respect this rule with eslint.

[2017-02-20 09:50] KeitIG opened #313 "Set up sass-lint"
- Add `.sass-lint.yml`
- Add sass-lint to CI

[code]

[2017-02-20 09:51] KeitIG opened #314 "Switch to Bootstrap 4"
We are currently using Bootstrap 3 for most of our layouts. I would like to switch to Bootstrap 4 as soon as a stable version will be released.

- Includes files directly from npm package and build Bootstrap with Sass
- Define and overrides Bootstrap default variables
- Drop `bootstrap-sharper`

[2017-02-27 18:18] OutsourcedGuru opened #316 "Cannot resolve module 'leveldown' and 'leveldown/package' during 'npm run compile'"
Being an Electron-noob this might not be an issue but I'll create one in case it is a missing dependency.  I found the installation instructions a little cryptic in that this is my first Electron attempt so the process is still foreign to me.  Poking around your README.md and that from [Electron's application distribution instructions](https://electron.atom.io/docs/tutorial/application-distributio

[2017-02-27 18:32] YurySolovyov commented on #316
Don't worry about it, this dependency is optional.

[2017-02-27 20:45] OutsourcedGuru commented on #316
Cool.  (Nice to know.)

Was just reading [levelUP page here](https://www.npmjs.com/package/levelup)...

[code]

Personally, I find it annoying that it's complaining so much and they know it.

[2017-02-27 20:45] #316 closed

[2017-02-27 20:56] OutsourcedGuru commented on #260
Don't know if you're interested in packing up the **resources/app** folder with `asar` but I've successfully down so with the following workflow on Windows:

1. `npm install -g asar`
2. `cd d:\sits\mplayer\mplayer-win32-x64\resources`

Just wanted to make sure that electron doesn't try to use the original folder...
3. `ren app app.dev`
4. `asar pack app.dev app.asar`
5. `dir`

[code]
6. cd ..
7. e

[2017-02-27 22:37] OutsourcedGuru opened #317 "Default state of Settings -> Interface -> Minimize to tray"
I think most programs in Windows/iOS/Linux start with the concept of small icons in some odd corner which allow the user to minimize/restore/exit.

This one has an x in the corner which by default behaves like a minimize button given the setting `Minimize to tray` which is initially set to **true**. This really faked me out, to be honest.

Without changing the x icon to something else, I would sug

[2017-02-27 22:57] OutsourcedGuru opened #318 "PlayIndicator status suggestion"
I've seen the existing play-indicator before and I suppose it does the job of indicating that the song is playing (say, if your external volume is too low for you to hear).  I've looked at the animation portion in your CSS and it's just randomly changing the themed heights of three bars when the state is in the play mode.

I was just looking at [these sprites](http://wiki.jqueryui.com/w/page/26308

[2017-02-27 23:07] OutsourcedGuru opened #319 "Making money through iTunes Affiliate Program, for example"
Just throwing this out there...

Looks like Apple's iTunes has an [Affiliate Program](http://www.apple.com/itunes/affiliates/) which you, in theory, could incorporate into your player.  In theory, if you provide a link to iTunes and the user follows that link then you get a small percentage of anything they buy from that session.

So the usual way something like this might work would be... I might

[2017-02-28 07:54] KeitIG commented on #319
Hey :)

Thanks for the idea, that's interesting, but won't be implemented as Museeks is not a commercial project. The few things I need to pay (basically domain name, host and logo) are on my funds.

That is really interesting though, I will keep that in mind in the future.

[2017-02-28 07:54] #319 closed

[2017-02-28 07:56] KeitIG commented on #317
You might be interested by https://github.com/KeitIG/museeks/pull/307 ;)

When you minimize to tray, you don't "minimize" the app, you hide it (it's not in your dock or taskbar anymore), so the cross makes sense imo.

[2017-02-28 09:42] KeitIG commented on #318
I'm afraid I don't get it precisely :stuck_out_tongue:

You are making the assumption that the the PlayingIndicator is to show the volume of the music, when it is only used to show what music is currently playing. So you would update the animation with different levels depending of the volume value ?

[2017-02-28 09:55] YurySolovyov commented on #318
I don't think we have an infra in place to detect sound amplitude of channels

[2017-02-28 10:15] KeitIG commented on #318
Oh, so a minigraph of the the track being played right now ?

[2017-02-28 18:06] OutsourcedGuru commented on #318
Well... a *great* indicator would be something like a mini equalizer feedback which detects the bass/midrange/tweeter dynamic volume and would display this dynamically.  (If there was thudding bass during the song the left-most column would pop up in time with that sound, in other words.)

But I've looked into the difficulty of doing this.  It's actually quite do-able but requires a short list of

[2017-02-28 18:13] OutsourcedGuru commented on #317
@KeitIG Regarding 307:  yes, totally.

But if you did, I think I'd consider changing the X to something like:  https://www.google.com/search?q=hide+icon&biw=1217&bih=716&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjgy5yrsrPSAhUnslQKHdLtDrAQ_AUICCgB

[2017-02-28 18:16] OutsourcedGuru commented on #319
Not a problem.  I'm loving this little player and have tweaked mine already from "day 1".  (Thanks.)

[2017-02-28 18:22] YurySolovyov commented on #318
None that I know of

[2017-02-28 18:44] OutsourcedGuru commented on #318
Fair enough.  Should I close this?  (Kind of a noob at all this.)

[2017-02-28 18:49] YurySolovyov commented on #318
yup, it is ok to reopen it once it is relevant

[2017-02-28 18:49] #318 closed

[2017-02-28 20:46] OutsourcedGuru commented on #154
<s>It's a bit dated, but is it possible to add a DDE server ( https://www.npmjs.com/package/electron-node-dde ), update the registry ( https://msdn.microsoft.com/en-us/library/windows/desktop/hh127429(v=vs.85).aspx ), verify that you have the single-instance option ( https://github.com/electron/electron/blob/master/docs/api/app.md#appmakesingleinstancecallback ) and then it might work like this na

[2017-02-28 21:19] #317 closed

[2017-02-28 22:54] OutsourcedGuru commented on #154
If you're only interested in the current user in Windows, it's:

**CurrentUser_Add.reg**:
[code]

So basically, you'd have to add another entry (incrementing the letter for the key) for **electron.exe** in this case.  I don't think technically you have to adjust the MRUList entry.  And of course, you'd repeat this for other supported file types like .wav or whatever.

I would guess that it's there

[2017-03-01 08:45] KeitIG commented on #319
![oh__stop_it__you__by_rober_raik-d4cwd9f](https://cloud.githubusercontent.com/assets/1311607/23452220/d43d6778-fe63-11e6-9b06-2735c53340f8.png)

[2017-03-01 19:15] OutsourcedGuru commented on #319
Gave you some love [over here](https://outsourcedguru.wordpress.com/2017/02/28/how-cool-is-electron/), too.

[2017-03-01 19:26] OutsourcedGuru commented on #128
For what it's worth, [AudioContext.createAnalyser()](https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/createAnalyser) could be used to create equalizer-like effects as in [these examples](https://dzone.com/articles/exploring-html5-web-audio).

[2017-03-01 19:28] OutsourcedGuru commented on #127
[Some cool examples here](https://dzone.com/articles/exploring-html5-web-audio)

[2017-03-01 19:56] OutsourcedGuru opened #320 "Noting a Windows RADAR HeapLeakDetection for Electron.exe"
Could be Electron.exe itself of course, but my own registry (Windows 7 Professional 64-bit) has flagged electron.exe with an...

`HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\RADAR\HeapLeakDetection\DiagnosedApplications\electron.exe`

...entry.  [RADAR](https://channel9.msdn.com/Shows/Going+Deep/RADAR-Windows-Automatic-Memory-Leak-Detection)

Not sure if RADAR is on by default or not.  Might be worth do

[2017-03-02 07:50] KeitIG commented on #320
Does it happen during library refreshing ?

[2017-03-02 23:01] OutsourcedGuru commented on #320
I'm not completely convinced that it's Museeks that's throwing it, to be honest.  I'll test this evening (and abuse it a little with spastic behavior) and see if Application Verifier sees anything.  Like I said, it could have been Pencil what-done-it.

[2017-03-05 20:33] KeitIG commented on #53
Finally we're good. Fixed by #322

[2017-03-05 20:33] #53 closed

[2017-03-06 13:17] angrykoala commented on #101
The package [browser-id3-writer](https://github.com/egoroof/browser-id3-writer) allows writing metadata, which, along with [musicmetadata](https://github.com/leetreveil/musicmetadata) allows to read/write without FFmpeg or libav dependencies

[2017-03-09 21:19] OutsourcedGuru commented on #320
Guys, I think you're good.  I've not been able to find anything after a fair bit of testing.  It must have been Pencil instead.

[2017-03-09 21:19] #320 closed

[2017-03-13 04:24] MrBlenny opened #324 "API for netwo"

[2017-03-13 08:05] MrBlenny commented on #324
Another change that would be to add a redux-store to the main-thread using something like [electron-redux](https://github.com/hardchor/electron-redux). This makes sure the redux state is synced between the main-thread and renderers.

This would be particularly because the API (running in the main-thread) does not currently have access to the redux store so it is relatively complicated to return da

[2017-03-13 08:18] YurySolovyov commented on #324
Depends on how much data you need to be shared, ATM it is not much if any

[2017-03-13 10:39] KeitIG commented on #324
Hell yes

I'll let this one up to you :smile:

===

About `electron-redux`, if it can solve the problem nicely, why not ?

[2017-03-13 10:41] YurySolovyov commented on #324
What's the plan on this remote service discovery?
I guess that would need a UI to copy link or whatever...

[2017-03-13 11:34] MrBlenny commented on #324
Yep, I think network discovery will be on the SettingsLibrary page but I'll give it some more thought.

It will automatically discover other instances of Museeks running on the same network by pinging all IPs in its range X.X.X.1-255:SomePort
Might be a good idea to add a pin/password for auth but I'll leave that for later.

[2017-03-13 12:35] YurySolovyov commented on #324
That sounds expensive

[2017-03-13 14:57] KeitIG commented on #324
I don't really see other ways to be honest

[2017-03-13 14:59] YurySolovyov commented on #324
There are whisper protocols there, but they would need investigations...
Though remote access does not have to be Skynet scale right away, we can start just by the ability to copy and paste a link...

[2017-03-13 17:20] KeitIG commented on #324
https://github.com/eviltik/evilscan

[2017-03-15 02:00] sabrehagen commented on #135
Yep, please merge!

[2017-03-19 18:13] #135 closed

[2017-03-19 18:13] #295 closed

[2017-03-22 13:58] KeitIG opened #328 "Move Queue into a Bootstrap Dropdown"
So it disappears on blur.

[2017-03-25 23:58] SirWindfield opened #329 "Combine reducers using provided method by redux"
I wanted to ask on why you aren't using the defined method `combineReducers` from redux to combine all your reducers to a single one within [index.js](https://github.com/KeitIG/museeks/blob/master/src/js/reducers/index.js)?

[2017-03-26 08:15] YurySolovyov commented on #329
See https://github.com/KeitIG/museeks/pull/205

[2017-03-26 10:03] SirWindfield commented on #329
Well, aside from small refactoring, there shouldn't be any problem. Just curious on why you didn't use `combineReducers` from the beginning. Your current solution feels more of a hack tbh. Don't take this offensively :)

[2017-03-26 10:06] YurySolovyov commented on #329
I think @KeitIG started with Flux, and then we moved to Redux

It is, though it works. No offence taken :)

[2017-03-26 10:23] SirWindfield commented on #329
Thanks for the answers :smile: If I find some time I can make a PR and use `combineReducers` if you want to move to the function.

[2017-03-26 10:25] YurySolovyov commented on #329
I'm ok with it, @KeitIG thoughts?

[2017-03-26 17:38] KeitIG commented on #329
Museeks was initially using Vanilla Flux, then we switched to Redux, but there are still some vanilla-flux patterns you will see across the code.

Any improvements are welcome as long as their cooresponding PR describes what has been changed and what it improves

[2017-03-28 00:56] simonv3 opened #330 "Reveal file in finder / directory"
It'd be great if when I right click on a file one of the menu options would be "View file in <whatever system file browser is>".

In Mac OS X this would be the finder, Explorer in windows?

[2017-03-28 06:44] KeitIG commented on #330
It's been done already and will be released un 0.8 :)

[2017-03-28 06:44] #330 closed

[2017-03-28 06:46] KeitIG commented on #330
Ref https://github.com/KeitIG/museeks/pull/227

[2017-03-28 11:51] #41 closed

[2017-03-28 11:51] #305 closed

[2017-03-28 11:51] #311 closed

[2017-03-28 11:51] #328 closed

[2017-03-28 11:51] #312 closed

[2017-03-28 15:07] simonv3 commented on #330
Ah, sorry! I searched for some of the keywords but GitHub didn't turn up anything. Thanks for doing this :)

[2017-03-28 15:15] KeitIG commented on #330
yes, it was PR directly proposed without any issue opened :)

[2017-03-28 16:00] #223 closed

[2017-03-28 16:00] #226 closed

[2017-03-29 09:57] KeitIG commented on #309
@demil Would https://github.com/KeitIG/museeks/issues/324 solve your issue ?

[2017-03-29 13:17] KeitIG commented on #270
Fixed in ef9d354dabfd959b1b56cc736aa274bc736b34cc

[2017-03-29 13:17] #270 closed

[2017-03-30 08:49] KeitIG commented on #217
This is something I'd like to investigate for the next release. More investigation than real work, just to see how we can make it work.

[2017-03-30 08:51] KeitIG commented on #294
Maybe for 0.9 ? Just adding it to the milestone just for an overview of what we could add for this release.

[2017-03-30 08:54] KeitIG commented on #62
ok, for this one we can start with sorting. Editabnle columns is a bonus that can be done lanter

[2017-03-30 09:02] YurySolovyov commented on #62
How are we going to store them? in config or db?

[2017-03-30 09:09] KeitIG commented on #62
For sorting, there will be a hashmap for each type of column:

[code]

So we'll need to agree on these.

Then there will be two options stored in config:

- sort column
- asc/dsc

and I think the asc/dsc option should only apply on the first parameter, so for "Filter by artist" and "dsc", only the "artist" key would be sorted dsc. The "sub-keys" would be asc.

[2017-03-30 13:24] KeitIG commented on #330
It's beed release @simonv3 ;)

[2017-03-30 14:56] simonv3 commented on #330
@KeitIG Thanks!

When I download Museeks from the website and install it by dragging it - and replacing the existing install - into the Application folder (on OSX) I get:

[code]

I'm running OS X 10.11.6 - El Capitan.

[2017-03-30 15:07] KeitIG commented on #330
Can you poke me on Gitter, so we can try to solve this ? https://gitter.im/KeitIG/museeks

[2017-04-01 14:18] v1r0x commented on #314
I saw museeks a couple of days ago on omgubuntu. Really like it! Although your program does not look _bootstrapy_ as most of the bootstrap applications, maybe [this](http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html) would be a cool addition to bs4 and a more _modern_ look?

[2017-04-01 14:25] KeitIG commented on #314
Hello @v1r0x, we use Bootstrap mostly for some layout utils + some JS components. We indeed modified it a abit, because it's fairly easy to spot Bootstrap today.

About Materialize-like design, I'll be honest with you and I hate it haha. Mostly because of old projects I had to work with + Materialize doesn't make a lot of sense if you don't use Material Design guidelines from Google. Which is some

[2017-04-01 14:30] YurySolovyov commented on #314
I was going to write something similar, but though that would be too harsh, but I kinda agree - Material Design is good set of rules to follow, but we don't have to literally copy it, and I think even Google encourages products to diverge and search for their own style, which is that we'll probably do.

[2017-04-02 20:05] probonopd opened #335 "Provide AppImage for Linux"
Would you be interested in providing an [AppImage](http://appimage.org/) for Linux? It would have, among others, these advantages:
- Works for most Linux distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [make it executable](http://discourse.appimage.org/t/how-to-make-an-a

[2017-04-02 20:09] YurySolovyov commented on #335
Hey, thanks for your interest.
1. Any examples of electron-based apps providing AppImage? It would be cool to have tooling that is easy to integrate without too much effort.
2. Does this has any relation with snap or flatpack? I've seen people requesting these too.

[2017-04-02 20:29] probonopd commented on #335
Yes, lots of the existing AppImages are Electron apps.

[electron-builder](https://www.npmjs.com/package/electron-builder) uses it as the default format for Linux. There is also https://www.npmjs.com/package/grunt-appimage but I haven't tried it so far.

You can always make an AppImage by hand by using [appimagetool](https://github.com/probonopd/AppImageKit).

[2017-04-02 21:10] KeitIG commented on #335
Is it a duplicate of #100?

[2017-04-02 21:12] KeitIG commented on #335
I'll try to work on electron-builder this week. We have a fresh release so I'm feeling free to work on it

[2017-04-03 05:13] probonopd commented on #335
Well, technically no, since AppImage isn't an "installer", but yes, it serves a similar purpose.

[2017-04-03 07:33] KeitIG opened #336 "Move back context-menus to Renderer process"
Latest versions of Electron added an `async` option to `menu.popup`, maybe we should move back all context menus in the rendered process asthe current layout of complexity is not needed anymore?

[2017-04-03 07:35] KeitIG commented on #175
Not really blocked by #112 actually.

[2017-04-03 08:42] KeitIG commented on #217
@jrohrauer if you're still there, I have a few question for you :)

How would you see this feature in your favourite browser? Would it be someting like:

- Streams view
- Click "add stream"
- Enter the URL of your stream
- Then it's added to your list of streams and you can doubleclick to play it

Can a stream "finishes" ? (should it play the next one automatically?)

[2017-04-03 09:15] YurySolovyov commented on #217
I think some streams can be never-ending, like radio stations, when there is no music, they just play silence, but pick up new data as soon as owner sets it to play something.

I'd say this can be a separate kind of tracks that use remote url as data source.

[2017-04-03 09:17] YurySolovyov commented on #336
I'd say let's try, if it works as expected, then let's use it and report regressions if something breaks in the future.

[2017-04-03 12:23] KeitIG commented on #217
http://fontawesome.io/icon/podcast
http://fontawesome.io/icon/rss

[2017-04-04 08:35] KeitIG opened #337 "macOS integration issues"
I had some time to test Museeks on Mac, and it's not perfect

- [x] Museeks interrupts logout (cf. screenshot)
- [x] Museeks does not show if minimized to tray + click it's in the dock
- [x] Right-click on the dock icon + quit doesn't quit the app
- [x] Native window controls
- [x] Fix-multiselection #368
- [x] Native font

![screen shot 2017-04-04 at 10 33 20](https://cloud.githubusercontent.com/

[2017-04-04 08:39] KeitIG commented on #337
All help from a active mac user would be greatly appreciated

[2017-04-04 12:49] KeitIG commented on #62
[code]

[2017-04-04 19:02] YurySolovyov commented on #155
@KeitIG
In addition to the OP, I thought about adding files to playlists without going through library, what do you think if we add context menu to the `+` button with 3 items "From files", "From folders", "From library" ?

[2017-04-04 19:05] YurySolovyov commented on #155
Sort of like in https://github.com/KeitIG/museeks/issues/248, we can also drop files(or folders, or mixed) on playlist area to add them to playlist.

[2017-04-04 19:16] YurySolovyov opened #338 "Need a way to tell which folders are already in the Library"
New library UI is nice, but I struggle to estimate what's actually in my library ATM.

[2017-04-04 19:18] KeitIG commented on #338
What if you remove some files? It's a bit hard to do now.

[2017-04-04 19:20] YurySolovyov commented on #338
Well, let's assume we don't track that, for now just treat Library as source of truth here.
We can add re-scanning folders in the background later

[2017-04-04 19:22] YurySolovyov commented on #301
Will close this for now, I'll try to keep an eye on bundle size.

[2017-04-04 19:22] #301 closed

[2017-04-04 19:22] KeitIG commented on #338
I mean, I don't see the point:

- If you want to ensure a folder is scanned, just drop it again and new files will automatically be added
- If the user manually removes some files, everything goes wrong and it's biased

What is you usecase exactly?

[2017-04-04 19:33] YurySolovyov commented on #338
Maybe it is just me, but I feel that something is wrong when I go to the library section and it only shows me "Add files" UI.
![image](https://cloud.githubusercontent.com/assets/2168518/24674878/c8d49b30-1985-11e7-84f7-4f6fc1b90061.png)

I know I can go to library tab and my files will be there, but it is a bit different.
My point is that such list does not have to be really functional at this poi

[2017-04-04 19:41] YurySolovyov commented on #162
One possible idea would be to have same discovery mechanism as we have for music: scanning user-provided directories for themes.

Another interesting topic to consider:
- [ ] How do we fallback to default theme in case custom theme is broken but not in a way we can say for sure (just broken layout won't trigger any errors)?
Maybe a CLI flag like `museeks --reset` or something ?

[2017-04-04 19:44] YurySolovyov commented on #87
[electron-compile](https://github.com/electron/electron-compile) seems like an option to  consider

[2017-04-06 09:55] hipunk commented on #337
I noticed the same, also the window buttons are located at the wrong side of the window (which can be "fixed" by using "native frame", but still...).

But other than that I am quite happy so far. Other electron music players fail miserably in comparison.

What kind of help do you need? Logs etc. or active development work?

[2017-04-06 10:00] KeitIG commented on #337
You do have no idea about what it means to me, thanks.

---

- About these problems, I need to do some researches on Atom and electron researches first.
- About the window controls at the left, this can be easily fixed actually, I'll submit a PR for this, can you confirm that the controls order in mac are close/minimize/maximize ?

[2017-04-06 10:06] hipunk commented on #337
Glad to hear that!

- Same for me!
- Yes, it is close, minimize and maximize from left to right.

[2017-04-06 11:03] KeitIG commented on #337
Would it annoy you if they had the same design or would you prefer the mac-like colored window controls?

[2017-04-06 11:08] hipunk commented on #337
I would prefer the mac-like coloring by far!

[2017-04-06 11:14] KeitIG commented on #337
So I guess your main problem with the native frame is this is the native frame is not dark right ?

[2017-04-06 11:16] hipunk commented on #337
It is no big deal, but it would look a tad nicer, if you know what I mean.

[2017-04-06 11:17] KeitIG commented on #337
kk, just analyzing your usecase so I know what to work on exactly ;)

[2017-04-06 11:20] hipunk commented on #337
No problem mate, we also need to implement shortcuts for minimizing, closing the window, hiding the app and the preferences.

[2017-04-06 11:56] hipunk commented on #337
I'm sorry, this is slightly offtopic but is there a way to communicate with you in a quicker way (irc, discord or similar)?
I am struggling to get the museeks package running with electron ("webpack --config webpack.config.js --progress --colors") seems to fail when running npm install && npm run compile.
I'm trying that, because I would like to contribute.

[2017-04-06 11:57] KeitIG commented on #337
Yes sure, go and chat with us on Gitter: https://gitter.im/KeitIG/museeks

[2017-04-07 20:43] marzochi commented on #93
And sometimes Fn+F11 / Fn+F12 key combinations for prev & next song not working..
Thanks for program.

OS: ElementaryOS 0.4 ( Ubuntu 16.04 )

[2017-04-07 21:52] KeitIG commented on #93
@marzochi Playback keyboard shortcuts "should" be supported, even if I could not test it personally (all laptops have different shortcuts for these). Can you send us the model of your laptop?

[2017-04-08 07:47] marzochi commented on #93
Thanks for reply.

[2017-04-18 06:49] KeitIG commented on #100
About Linux distribution:

[code]

[2017-04-18 10:19] KeitIG opened #340 "Should we use system fonts?"
https://css-tricks.com/snippets/css/system-font-stack/

[2017-04-18 10:31] YurySolovyov commented on #340
Tradeoff: consistency of app on different platforms vs. consistency with other apps on a particular platform.
TL;DR: do we want to look same on all platforms or a bit different on each one?

[2017-04-18 12:45] KeitIG commented on #340
That's exactly the question. Personally, I would love to use the system font for consistency. I would look a bit more native. But that's personal.

[2017-04-18 12:48] YurySolovyov commented on #340
I'm also leaning towards being closer to native looks than to being internally consistent

[2017-04-20 12:38] danidev opened #341 "library columns enhancements"
Hello, I just tried museeks and I found it very good and it could be a valid (if not the best) mp3 player for linux, if you keep it so minimal and clean.

I just want to point you to some important enhancements that in my opinion must be done on the library component:
1. first of all, the table lacks the availability to **sort columns**, for instance you cannot sort by artist or album, that is qui

[2017-04-20 12:50] KeitIG commented on #341
Hellp @danidev !

Everything you mentioned is here: https://github.com/KeitIG/museeks/issues/62, sorting columns will come first as it's the easiest thing to implement :)

There are some tasks fairly easy to do if you're afraid with React

[2017-04-20 12:50] #341 closed

[2017-05-03 20:45] cn-yn opened #342 "Compiling v8.1 on Mac OS 10.11 is failing with Node 6 and NPM 3"
Same issue that hipunk was having in Gitter -- saw that changing Node versions seemed to resolve this for them, but I was already using the LTS version and no matter what wrangling I do I get the same compilation error where Babel doesn't seem to be transpiling anything. Moved down to 8.0 and it compiles fine -- prebuilt version of 8.1 rocking for now though so I'm getting to check it out, but int

[2017-05-04 06:12] KeitIG commented on #342
@cn-yn Hello ! Are you trying to compile `master` or the 0.8.1 tag ?

[2017-05-04 06:13] KeitIG commented on #342
(I'm currently using node 6.10.3, and npm 3.10.10)

[2017-05-04 15:16] cn-yn commented on #342
I tried both the master and the tag yesterday -- node 6.10.3 and npm 3.10.10 here as well.

Tried building master just now in my ~/Downloads folder rather in the global Electron path (contents/resources etc etc) and it went fine. I'm guessing some babelrc or npm setting are getting borked by the electron package when you try to do that on Mac. Either way just building it wherever then running elec

[2017-05-05 18:24] #342 closed

[2017-05-18 13:57] YurySolovyov commented on #294
https://vx-demo.now.sh/gallery

[2017-05-21 21:37] jacobsax opened #343 "Any headway on Album/Artist View?"
Was any headway ever made on building Artist or Album views? I noticed that some issues were raised last year but seemed to be closed without any pull requests being made. If not, I'll have a look at adding the functionality over the next couple of weeks.

- [ ] Add an Album view, order by Artist and then by Album, where selecting the Album shows all tracks in that Album.
- [ ] Add an Artist view,

[2017-05-21 23:24] igorer88 commented on #343
Yeah. It would be great.

[2017-05-22 07:23] KeitIG commented on #343
Hello @jacobsax and @igorer88 !

I started to anticipate the work on this with some refactoring in 0.8 release. The "official issue" for this is #130 though. We can discuss about the specs you'd like to see there if you want :)

[2017-05-22 07:23] #343 closed

[2017-05-22 07:24] KeitIG commented on #130
Quoting @jacobsax in #343

Add an Artist view, where selecting an Artist shows all tracks by that Artist - grouped by Album in orderings.

[2017-05-22 07:40] KeitIG commented on #130
Ok, this feature starting to be more and more requested, I got one problem especially: `AlbumsList` is ok, but for `ArtistsList`, what images (if we want images) do we want to display?

Open question for now, just keeping it in a side of my head.

[2017-05-22 09:28] KeitIG commented on #154
https://github.com/electron-userland/electron-builder/wiki/Options
https://github.com/electron-userland/electron-builder/wiki/electron-builder-core#FileAssociation

once #339 will be finished, we should be able to work on this.

[2017-05-22 13:39] KeitIG commented on #335
AppImage seems better for app of this kind than snap or flatpak. It will be included in the binaries of the next releases once #339 will be merged.

Thanks again for the suggestion @probonopd.

[2017-05-22 13:41] YurySolovyov commented on #335
Maybe off-topic, but I kinda wonder if snaps are auto updated or one need to manually install new versions?

[2017-05-22 13:44] KeitIG commented on #335
I didn't really investigate auto-updating for now. I could not answer this.

[2017-06-08 03:19] bspeice opened #344 "Scrollbar too small"
The current scrollbar (I'm testing on Ubuntu) is too thin, such that it's impossible to drag without switching to the native frame. Whenever you go close, the pointer switches to resize instead of drag.

Using the native frame fixes this, but I wanted to raise the question since I imagine it's fairly simple: Can the scrollbar be made longer?

[2017-06-08 13:50] KeitIG commented on #344
Yep, a problem I've been thinking about. I'll try to reprioritize it :) thanks for the feedback

[2017-06-14 18:23] dalgard opened #345 "Gapless playback"
Does Museeks support gapless playback?

If not, could this be implemented via a more low-level use of the WebAudio API?

[2017-06-14 18:31] KeitIG commented on #345
Hello !

This is exactly what https://github.com/KeitIG/museeks/issues/31 and https://github.com/KeitIG/museeks/issues/128 are about. Though I have no experience with these APIs, I don't really know where to start and how to design this new system properly.

[2017-06-14 18:31] #345 closed

[2017-06-20 17:53] ketanhwr opened #346 "Support dragging in seekbar"
Hi, in the seekbar of the current music playing, the only thing you can do is click on a particular instant of the bar and the music starts playing on that moment. Having used a few other players, I think that allowing dragging the seek point in the bar will be a really helpful feature.

[2017-06-21 01:07] KeitIG commented on #346
Seems like we got a regression here, it's supposed to be supported. Thanks for the report!

[2017-06-23 06:29] #100 closed

[2017-06-23 06:29] #335 closed

[2017-06-23 15:07] #346 closed

[2017-06-23 15:10] ketanhwr commented on #346
Thanks! :slightly_smiling_face:

[2017-06-23 15:11] ketanhwr commented on #346
Btw, I'd love to contribute! This is one of the few music players for Linux with a really good design. I've worked in React as well as Electron before, can you tell where can I get started?

[2017-06-23 15:13] YurySolovyov commented on #346
Take a look at [starter tasks](https://github.com/KeitIG/museeks/issues?q=is%3Aissue+is%3Aopen+label%3A%22starter+task%22)

[2017-06-28 10:18] KeitIG opened #348 "Re-implement shuffle system"
The shuffle system is buggy when you unshuffle from other views. Try to think about a way to re-implement it in a simpler way.

[2017-07-13 21:06] KeitIG opened #349 "Update react-router to v4"
I thought it would be a piece of cake. Hell I was wrong.

help: https://codeburst.io/react-router-v4-unofficial-migration-guide-5a370b8905a

[2017-07-19 14:38] #348 closed

[2017-07-22 18:51] KeitIG commented on #306
Update: these shortcuts exists, so if they are not working, there is a preventDefault somewhere and I think I know where, will fix it asap.

[2017-07-23 10:35] giorgosioak opened #351 "Volume bar opens to left of volume icon and covers the play buttons"
**The volume bar opens at the left of the volume icon and covers the play buttons** until you move the mouse away. Sometimes you want to click pause you move your mouse over the volume icon and you need to make a second move to close the volume bar that pops up. Being on the right side of volume icon makes it more simple.

![screenshot from 2017-07-23 13-20-02](https://user-images.githubuserconten

[2017-07-23 14:18] igorer88 commented on #130
Adding a third-party service would be fine, but lets not be limited just to that, I think it needs to be customizable, plus having a default image.

We could fetch images from last.fm or (m)any other source also we can have the ability to add any image desired by the user. Would be nice. :)

[2017-07-24 19:49] vprigent commented on #338
Hi, the synced folders where present as a list some time ago. When the UI changed for what we have now, ( and a far better syncing system I have to admit ), the list goes out ...
I have a simple use case where I find it annoying. I have some new songs I want to play, I have to find the folder I already synced before, AGAIN, to get the new songs ... I usually have one single folder i'd love to be a

[2017-07-25 09:50] KeitIG commented on #338
@vprigent Thanks for the feedback, what you can do is re-drop your music folder and only the new files will be scanned and added to your library.

Will have to look into this issue a bit more seriously though as more and more people are asking for it.

[2017-07-25 09:51] KeitIG commented on #351
Hello @giorgosioak, thanks for the suggestion and the usecase problem well detailed. I will try to find a nice solution to this problem :)

[2017-07-27 09:53] KeitIG opened #353 "Make the app 100% Redux"
We currently use an hybrid between Vanilla Flux and Redux, and we have problems passing a huge number of props through all the children components. I would like we move everything to a more Redux way, especially about the dispatch thing.

- [ ] Dispatches, the Redux way
- [ ] "real" Presentational and Container Components

http://redux.js.org/docs/basics/UsageWithReact.html#presentational-and-cont

[2017-07-27 09:56] YurySolovyov commented on #353
I'd add:
- [ ] Make store shape map to reducers so we can use `combineReducers`

[2017-07-28 10:32] Coconaut11 opened #354 "File paths have C:\ 2 times"
When i try to play a song, it gives me that error (with lastest update):
Uncaught Error: ENOENT: no such file or directory, open 'C:\C:\Users\Cocon\Music\Uptown Funk.mp3'
events.js:160

[2017-07-28 21:40] KeitIG commented on #354
It gave it to me too, the music is still playing though, right ?

[2017-07-30 10:41] Coconaut11 commented on #354
No, it doesn't play, visually, it seems like it would be playing, but it doesn't.

[2017-07-30 14:56] KeitIG commented on #354
ok, really weird, it does work on my side. Checking now.

[2017-07-30 15:56] KeitIG commented on #354
@Coconaut11 Could you try again with some other tracks ? By my side, I get the error, but the music is still playing, so I suspect a problem with Chrome.

If it still doesn't play, can you send me the full path of the located file you want to play?

[2017-07-30 16:08] Coconaut11 commented on #354
It doesn't matter which track i try, or where it is, I tried moving the tracks to other folders, but still doesn't work.

![captura](https://user-images.githubusercontent.com/15111802/28755009-f8b58616-7551-11e7-9691-17d3de6e0b1e.PNG)

[2017-07-30 23:10] KeitIG commented on #354
Thanks, will investigate. Seems pretty urgent.

[2017-08-13 12:21] KeitIG commented on #354
Can you tell me which version of Windows you are using ?

[2017-08-23 00:42] Coconaut11 commented on #354
Windows 10

[2017-08-28 11:34] #306 closed

[2017-08-30 12:03] #344 closed

[2017-08-30 12:31] martpie opened #357 "Third-party integrations and APIs"
This is a brainstorming about how to integrate third-party APIs/libraries in a distributed app.

#### examples

- Lyrics support #308
- Support cloud services for storage #304
- last.fm integration #231

#### the problem

I have no experiences with that.
We need API keys for that, some are not free. Should Museeks provide API keys and try to get free access to this API arguing we are an open-sourc

[2017-08-30 12:37] YurySolovyov commented on #357
IMO question should be IF this is museeks concern(s) at all. At the very least this should be up to plugin(s).

[2017-08-30 12:38] KeitIG commented on #357
Right, it was more: "if we want that, how to do that?"

[2017-09-02 20:25] complexSandwich opened #358 "Update notification if there's already one open."
I'm running Elementary OS (Loki) and whenever I skipped a song, a new notification would open.  I would have a bunch of notifications open and it was annoying.  So I added a tag to the notification object, so now it will update the notification if there's one open.  If other people are interested in this I can make a pull request.

As a side note, when I ran npm run lint, I got this:

npm ERR! Lin

[2017-09-02 22:20] KeitIG commented on #358
Hello :)

Thanks for the feedback, I will see if we can have only one notification at a time

Ref:  https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API#Replacing_existing_notifications

[2017-09-02 22:21] KeitIG commented on #358
About, the linting, is that the only errors it gives you

[2017-09-02 22:27] complexSandwich commented on #358
Sure, I just added the tag option in NotificationActions.js.

As for the error, I looked at it again and it was because I didn't put a trailing comma after the tag option.  Oops.

[2017-09-05 14:00] Nino9614 opened #360 "Middle Mouse Click UI Improvements"
First of all great app using it a while know and it works fine so far :).
But i have one suggestion. Have you ever tried to click on a ui component with the middle mouse button?
On some components (i guess "<a>" tags or some kind of component with link interaction or redirect) it opens the new "screen/view" in another window instance (see screenshot)

![image](https://user-images.githubusercontent

[2017-09-05 14:54] KeitIG commented on #360
First thing. LOOOOOL.

I was totally unaware of this! This is definitely a bug, thank you for the report :)

for the record, it's the case on all links.

[2017-09-05 15:40] KeitIG commented on #360
@YurySolovyov I only found this solution https://stackoverflow.com/questions/44578022/electron-prevent-middle-click, I don't know if you have a better idea. I would have expected something at the Electron level.

[2017-09-05 15:49] KeitIG commented on #360
nevermind

[code]

seems to do the trick

[2017-09-05 18:42] #360 closed

[2017-09-07 12:36] KeitIG commented on #358
@complexSandwich I didn't understand you fixed the problem yourself in a custom build, feel free to open a PR :)

[2017-09-08 08:01] #358 closed

[2017-09-08 11:52] KeitIG commented on #351
Two quick mockups (poke @vprigent, @YurySolovyov). This is more what I had in mind. Just a few CSS tweaks.

![screenshot from 2017-09-08 13 50 57](https://user-images.githubusercontent.com/1311607/30210423-eec772da-949c-11e7-990b-321b560b8143.png)

![screenshot from 2017-09-08 13 51 41](https://user-images.githubusercontent.com/1311607/30210418-e8a25014-949c-11e7-9643-ddec4e38fc60.png)

[2017-09-08 12:22] YurySolovyov commented on #351
Still 1 more interaction (click/hover) than needed.

[2017-09-08 12:30] YurySolovyov commented on #351
One possibility I see is to rework header in a way that will allow us to place volume control below or above

[2017-09-08 13:12] KeitIG commented on #351
One requirement that I have is: "in a 1920*1080 screen, Museeks minimum width should not exceed half of the screen width".

Having a look at @giorgosioak problem, it's just he cannot adjust volume then directly click an play/pause. It's not really that he has to hover the volume to show `VolumeControl`. Or am I wrong?

[2017-09-08 17:08] giorgosioak commented on #351
@KeitIG Correct

[2017-09-08 19:49] probonopd commented on #335
Ping, is there any chance we might see an AppImage on https://github.com/KeitIG/museeks/releases anytime soon? Thanks.

[2017-09-08 19:55] YurySolovyov commented on #335
I think it will be available as the next release. You can also try building it yourself following instructions on readme.

[2017-09-08 23:28] KeitIG commented on #335
@probonopd I could update one for the last release if you want to. But yeah, it was planned for the next release.

[2017-09-09 08:06] probonopd commented on #335
That would be great @KeitIG, thanks.

[2017-09-09 13:59] KeitIG commented on #335
@probonopd You will find .debs and AppImages of the current master branch there: https://drive.google.com/drive/folders/0Bya5ObHuu9mNS29LMEhoNTJfOWs?usp=sharing

[2017-09-09 15:37] probonopd commented on #335
@KeitIG works for me locally :+1:  but for a real review I'd need a GitHub Releases download link.

[2017-09-09 22:19] KeitIG commented on #335
How that? I am not sure to understand.

The work on installers and AppImage has been between the last release and now. There is still one feature that I would like to implement before the next release, which is the #62, there won't be any re-release of the past version with installers I am afraid.

[2017-09-10 04:42] probonopd commented on #335
No problem, I'll wait until the next release.

[2017-09-15 09:21] KeitIG commented on #358
For the record, I do have one weird bug on elementary OS, I think it is Gnome related, or Electron related.

When the Slack app sends a notification, it displays the Museeks icon.

[2017-09-20 18:36] YurySolovyov commented on #354
Might be related https://github.com/nodejs/node/pull/15490

[2017-10-03 06:21] KeitIG commented on #337
I got a mac at work, I will be able to work on these issues from now.

[2017-10-03 21:49] KeitIG opened #363 "Performances improvements"
### TracksList

- [x] ~[use passive events](https://github.com/facebook/react/issues/6436#issuecomment-253082849)~
- [ ] `will-change` css property?

### Others

- [ ] Make CPU benchmarks

[2017-10-04 09:01] YurySolovyov commented on #363
You mean to profile stuff?

[2017-10-04 09:05] KeitIG commented on #363
yes, strange thing is passive events add CPU usage O___o I just wanted to do a quick check-up of the performances of the app, as Electron is quite a resource-heavy solution.

[2017-10-12 10:37] meradoou commented on #231
LastFM or LibreFM scrobble

[2017-10-21 12:13] Nino9614 opened #365 "Global Shortcuts on Windows"
Hey Guys,

have u ever considered to add global shortcuts to the app?
Right now you can change to the next/previous track using the "options/tray menu", but how about a global shortcut that would allow the same functionality without opening the tray menu?
I think that this feature would be very useful for a music app.

[2017-10-21 13:38] KeitIG commented on #365
We support media shortcuts already, I do not see why we should add more global shortcuts. They are not really common and can conflict with other apps.

Maybe I am wrong though.

[2017-10-21 15:28] Nino9614 commented on #365
Can you show me the current shortcuts? Because i cant find them inside the application and also not on the website. Are those ones global shortcuts or do they only work when you are inside the application?.

You could provide a option to turn the global shortcuts off in case u have some conflicts with other applications running along side. In my opinon this is a real deal breaker if you need to ju

[2017-11-11 16:28] KeitIG opened #366 "Static type checking"
So in my new company, I have been playing a bit with TypeScript and Flow, and those are amazing tools. Would love to implement one of them gradually in Museeks.

[2017-11-29 00:23] lachlan-00 opened #367 "solus, can't grab scroll bar"
solus using mutter/budgie.

The cursor can't select the playlist scrollbar, the resize window icon covers the bar and makes it impossible to select

[2017-11-29 12:19] KeitIG commented on #367
yes sorry, it has been fixed but not released yet, I may force a minor release soon :)

[2017-11-29 12:19] #367 closed

[2017-12-01 17:49] KeitIG opened #368 "ctrl-click triggers context-menu on macOS"
Maybe we should use the cmd event modifier instead of ctrl on macOS for multi-selection

[2017-12-03 16:46] SirWindfield opened #369 "Performance on huge libraries"
I just wanted to ask how the performance is when libraries are used that contain 10000+ songs. I added my folders and museeks is still scanning for about 7 hours now...

I checked the console but there weren't any errors displayed.

I took a quick look into the state and noticed that you store every song there. Isnt that quite RAM eating? Not sure if it is enough information to increase the ram us

[2017-12-04 14:11] KeitIG commented on #369
Hello :)

I do have a library of 6000 mp3 (around 20GB), and it is being scanned in less than a minute, which is quite fair :smile:

It is strange that you get 7 hours of scan without any warning. Are you using a HDD or a SSD? What is the exact size (in weight) of your library?

[2017-12-04 18:38] SirWindfield commented on #369
Thanks for the reply!

My library is about 200GB large. Mostly a mix of flac,wav and mp3 files. The number of songs is around 30000.
I made sure to start museeks directly in dev mode and now I get an error. Though that the stack trace isn't that useful ([gist](https://gist.github.com/SirWindfield/c38521231371000107482aef531027dc)).

[2017-12-04 18:45] YurySolovyov commented on #369
I think problem is somewhat in the way we get metadata - some code paths may cause reading a significant portion of the file before we get the metadata.

@SirWindfield do you have a large number of mixes like when entire album/mix is in one file?

[2017-12-04 18:48] SirWindfield commented on #369
@YurySolovyov No I do not have. The largest files are usually podcasts.
Can you help me out real quick? I downloaded the repo, installed electron globally and want to run it using `yarn run dev` but the electron instance doesn't load from the provided dev-server. Did I forget something?

[2017-12-04 23:46] KeitIG commented on #369
The only things I see here is some files are not having metadata headers but this is fine and fallbacks are ready for this scenario.

It would be interesting that I build the latest version of Museeks from sources and make you test it to see if you can still reproduce it.

(I just need to finish what I am working on and I hope it will be finished in the next days)

[2017-12-05 02:49] SirWindfield commented on #369
Thanks. I will gladly test it out. Best would be to push the branch upstream and let me build itself because I am currently running on a metered connection (isp is changing some cables down the road).

What about the error caused by your `musicmetadata` dependency? Looks like it tries to format some nonexistent tags for some odd reason.
If I remember correctly, `yarn` warned me that I should use `

[2017-12-05 09:16] KeitIG opened #371 "Switch to music-metadata?"
- https://www.npmjs.com/package/musicmetadata
- https://www.npmjs.com/package/music-metadata

As shown by @SirWindfield in #369

`music-metadata` seems to support more format and would allow us to not use an external library for WAV.

[2017-12-05 09:32] KeitIG commented on #353
poke #370

[2017-12-05 09:36] YurySolovyov commented on #371
Yeah, but even that module may cause reading the entire file. Worth a try tho.

[2017-12-05 10:08] SirWindfield commented on #371
Isn't knowing the duration of a song the only case where you need to read the entire file? Out of my head the specifications for id3,wav and vorbis all are some header metadata and (for vorbis if I remember correctly) some seeking at the end of a file. Not sure how node handles I/O but seeking shouldn't load the entire file.

[2017-12-05 10:28] YurySolovyov commented on #371
Yes, by reading I meant "reading through"

[2017-12-05 10:43] KeitIG commented on #371
This is currently happening with `musicmetadata` anyway. It goes through the whole stream.

[2017-12-05 10:56] YurySolovyov commented on #371
I know `ffprobe` gets metadata consistently fast, but that's native code/binary.
One possible way could be to compile and expose it via WASM, but that's challenging :)

[2017-12-05 17:21] KeitIG commented on #337
Work in progress

![screen shot 2017-12-05 at 18 20 35](https://user-images.githubusercontent.com/1311607/33620765-1946193a-d9e9-11e7-8591-8ddf01e42209.png)

[2017-12-05 17:33] YurySolovyov commented on #337
@KeitIG are these window buttons native or custom?
If they are custom we should make sure they exactly reflect the position of native ones

[2017-12-05 17:38] KeitIG commented on #337
They are native :)

[2017-12-06 02:32] vprigent commented on #365
There seems to be an issue on Ubuntu and probably some other linux distributions about global shortcuts.

On my computer it works once and then I am unable to use them again.

I will try to investigate the issue and edit this post.

[2017-12-06 11:50] vprigent commented on #365
As it turn out, this seems to be related to how dbus handles such shortcuts with the applications.
https://github.com/electron/electron/issues/3941
The issue is known but no elegant solution has been found yet;

Google play music's team built a fix [there](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/commit/85b0eb57447b99d5d4d1cf443e5bba1f86b3912d)

[2017-12-06 11:56] KeitIG commented on #365
@Nino9614 Can you confirm that you are/were using Museeks with Ubuntu?

[2017-12-07 08:04] #349 closed

[2017-12-07 09:12] YurySolovyov opened #372 "tracksCursor enum"
In https://github.com/KeitIG/museeks/pull/370#discussion_r155187162 I spotted this:
[code]
and suggested creating an enum like:
[code]

[2017-12-07 09:43] KeitIG commented on #369
@SirWindfield Could you clone the repo, build and run the app and tell me if the problem still exists? Do not forget to delete `~/.config/museeks` first, just in case.

[2017-12-07 11:19] SirWindfield commented on #369
Just did that. Same as before. Loads all files. The last event triggered is an update event. After that, the window content doesn't change and I won't see any items added to my library. If I restart the app, the view actually contains them.

[2017-12-08 10:17] YurySolovyov commented on #353
- [ ] [`calling getState is a hack`](https://github.com/KeitIG/museeks/search?utf8=%E2%9C%93&q=%22calling+getState+is+a+hack%22&type=)

[2017-12-08 12:34] Nino9614 commented on #365
@KeitIG no im using Windows 10 on a 64 Bit System.

[2017-12-08 12:49] KeitIG commented on #353
So apparently it's not, I've seen some stuff from Dan Abramov where he says it is perfectly fine

https://stackoverflow.com/questions/35667249/accessing-redux-state-in-an-action-creator#35674575

[2017-12-08 13:48] YurySolovyov commented on #353
Why player is in state anyway?

[2017-12-08 15:46] KeitIG commented on #353
I think you are confusing the Player lib and the Player reducer

[2017-12-10 19:38] SirWindfield commented on #260
Hey ^_^

I am currently writing a music player myself. I started some weeks ago before I even found `museeks`. The idea behind it was to make it highly customizable. Meaning that everything except the plugin loading mechanism is build as an extension.
I am currently at the fifth iteration of the plugin loading mechanism and wanted to share some problems that I have found with you!

**1. Depending

[2017-12-10 20:39] YurySolovyov commented on #260
We don't have anything more internal/closed than GitHub and [Gitter](https://gitter.im/KeitIG/museeks) (that is - everything is open)

I personally very much against (unbounded) extension points, I like museeks for that minimal(istic) approach:
- Themes should be good out of the box.
- Player should be able to do most stuff out of the box.
^ this is where it all gets complicated, because everyone

[2017-12-31 16:08] KeitIG opened #373 "Fix production build"
Production build is ok, you can see it after compiling the app, `redux-logger` is still active and the bundle is huge.

[2017-12-31 16:28] KeitIG commented on #373
So actually, it is a good thing to keep redux-logger in prod for user debug purpose.

[2018-01-02 07:29] ketanhwr commented on #131
"A music player that caaaaaaaaan do music!"

[2018-01-03 16:08] #373 closed

[2018-01-06 15:34] rinklejain opened #375 "Error when opening second instance of app"
When opening second instance of the app, an error dialog box pops
(using node.js version 6.10.0)

![museek](https://user-images.githubusercontent.com/17960706/34640987-ff1a6c20-f322-11e7-8886-26b55687e198.png)

A way to solve it can be solved as mentioned [here](https://github.com/electron/electron/issues/8862#issuecomment-294303518)

[2018-01-06 21:18] KeitIG commented on #375
Thanks for the report. Does it happen with a custom build or the latest release?

[2018-01-07 08:29] rinklejain commented on #375
It happened with custom build from the current master branch.

[2018-01-17 09:48] vprigent opened #377 "Adding a folder containing special char to the library does not work"
When trying to add a specific new album (understand folder here ) to my library I noticed that nothing happened.

This is due to the name of the folder I jumped into Museeks to contain special regex chars.
https://github.com/KeitIG/museeks/blob/master/src/ui/actions/LibraryActions.js#L115-L116

You can try, add some brackets, hooks or some special characters to a folder, try to import it and your

[2018-01-17 09:51] vprigent commented on #377
A simple solution would be to add some escaping like this
`const pattern = path.join(RegExp.escape_path(folder, '**/*.*');`

Beware that many of the solutions for escaping regex implies escaping the `/` as well and that it prevents globby from doing anything.

[2018-01-17 09:56] KeitIG commented on #377
I did not even know those were valid characters for folders. Will definitely need to have a look into it.

[2018-01-18 09:38] KeitIG opened #378 "Reorganize main-process"
A small collection of problems I found when working on the MacOS integration

- [x] Move IPC event name to a enum file
- [x] Retrink how we call integrations as it is really procedural
- [x] Double check all app and webContents events as they are dispatched through multiple files and are not predictable

[2018-01-19 11:25] #337 closed

[2018-01-19 11:25] #368 closed

[2018-01-19 12:56] KeitIG commented on #375
I just tested on macOS, when I try to run a second instance, the second process in killed before it initiates the app. I will need to try on Ubuntu.

[2018-01-19 14:50] KeitIG commented on #225
This should be fixed in the next release, I added the async option to context menus in the macOS integration branch.

[2018-01-19 14:50] #225 closed

[2018-01-19 16:50] Tarik02 opened #380 "Single-click play"
I have an idea to add ability (optional, setting) to start music playing with single click (because i like this in nautilus file manager).

[2018-01-24 09:12] KeitIG opened #383 "Snap build issues"
On my Ubuntu VM, `npm run package:l` results in:

[code]

[2018-01-24 09:23] YurySolovyov commented on #383
quick guess: no snap development tooling installed?

[2018-01-24 09:36] KeitIG commented on #383
Not bad, after installing `snapcraft`, I am still getting this

[code]

it looks like snapcraft.yml is wrongly generated

[2018-01-24 10:06] YurySolovyov commented on #383
what happens if you drop [this field](https://github.com/KeitIG/museeks/blob/master/package.json#L72) ?

[2018-02-01 13:25] KeitIG commented on #383
After some experimentations, the traceback is pretty clear:

[code]

I think building ia32 snaps from x64 is a nope.

[2018-02-01 13:39] YurySolovyov commented on #383
We can still release x64 and other packaging formats, right?

[2018-02-01 13:41] KeitIG commented on #383
I'm trying to find a way to build x64 only for deb and AppImage at the moment + trying to see if I can build snaps for 32 bits anyway

[2018-02-01 13:41] KeitIG commented on #383
Looks a bit like https://github.com/electron-userland/electron-builder/issues/1272

[2018-02-03 17:41] YurySolovyov commented on #383
[some new snap docs](https://github.com/electron/electron/blob/a033a9cd5db2937a9ed743cb90085018d2a4c63c/docs/tutorial/snapcraft.md)

[2018-02-06 11:35] a2nt opened #386 "Replace PNG icons with SVG"
SVG icons fits better QHD+ displays

[2018-02-06 11:43] a2nt opened #387 "[BUG] New music that you add to playlist isn't added to playback queue"
To repeat it:
1) create new playlist
2) add one song into the playlist
3) play this song from the playlist
4) while the song is playing add an other one
Playback will be stopped after the first song

[2018-02-06 12:01] KeitIG commented on #386
What icon are you thinking of?

[2018-02-06 12:07] a2nt commented on #386
All of them SVG is just more advanced way to have application icons

[2018-02-06 12:09] KeitIG commented on #259
<img width="1440" alt="screen shot 2018-02-06 at 13 08 27" src="https://user-images.githubusercontent.com/1311607/35859059-ef144a4c-0b3e-11e8-973e-6983f3e9362d.png">

[2018-02-06 12:14] a2nt opened #389 "Gnome Tray issues"
Here's tray icon with .resize({ width: 24, height: 24 }) at src/main-process/main.js:

![screenshot from 2018-02-06 19-07-14](https://user-images.githubusercontent.com/672794/35859167-9aea57bc-0b71-11e8-885d-272351a4e7e9.png)

Here's tray icon without resize function:

![screenshot from 2018-02-06 18-33-19](https://user-images.githubusercontent.com/672794/35859216-d0b49060-0b71-11e8-839d-e612790fc

[2018-02-06 12:15] KeitIG commented on #386
If you are talking about the App icon itself, each OS expects a different format. PNG for Linux (maybe it accepts SVG though), ICNS for macOS and PNG for Win32.

Are you saying that the PNG 256 icon for Linux is not enough and there is a resolution problem on QHD+?

[2018-02-06 12:17] KeitIG opened #390 "Playlist trackslist not updated on route change"
Rather annoying

[2018-02-06 12:19] a2nt commented on #386
Most gnome 3 applications use SVG right now - it's just easier to scale. Also I had a problem at issue #389  thought it's because of small original file size, but actually it was caused by resize function. I have fixed it at submitted pull request #388

[2018-02-06 12:29] KeitIG commented on #386
Interesting, I will try to see how we can still support Gnome 2 though (I think Pantheon and Mate are still based on it).

[2018-02-06 12:42] KeitIG commented on #389
Thank you for the report, I will try to remove it and see how things go for on other Linux DE. (I suspect the Skype thing to be the same problem as the one I wanted to solve).

For the record on Pantheon, the tray icon was not being resized automatically.

[2018-02-06 12:49] KeitIG commented on #387
Ah, interesting one. I would like to say, "it's not a bug, it's a feature".

Adding a track to a playlist being played will not see this new track added to the queue indeed. The way we play the tracks is context agnostic for now, meaning that the player doesn't care if you play from the main view or the playlist view.

One specific bug happening is you will see the "now playing" animation in both

[2018-02-06 12:56] KeitIG commented on #380
Hello, sorry for the late reply.

Thank you for the suggestion. I would like to some UX/interactions research about this first.

On Nautilus, how do you only select a file (without opening it)?

[2018-02-06 13:01] KeitIG commented on #389
@a2nt What are you using to display trays with the latest version of Gnome?

[2018-02-06 13:07] KeitIG commented on #93
So I war re-reading http://www.omgubuntu.co.uk/2017/09/will-you-miss-gnome-legacy-tray again to understand why Gnome wanted Trays to disappear.

I went back on NPM and found:

- https://www.npmjs.com/package/mpris-service
- https://www.npmjs.com/package/mpris

I think it may cover our needs

[2018-02-06 13:16] a2nt opened #392 "[FEATURE REQUEST] Add plugins support"
I'd like to listen and download music from youtube, but it will be against youtube policy so I'd like to create a plugin. Which will let me do it.

Maybe we can integrate YouTube to Museeks as https://github.com/headsetapp/headset-electron
## Pros:
+ It allows to browse music by channels and find something new
## Cons:
+ Headsetap doesn't allow to play local music and I don't like the way it looks

[2018-02-06 13:21] a2nt commented on #389
it's vanilla Gnome Shell, Ubuntu comes with Gnome Unity by default, but u can install it using: sudo apt-get install gnome-shell

[2018-02-06 13:23] a2nt commented on #387
hmm, that's true too, but itunes has an option to add to queue

[2018-02-06 13:26] KeitIG commented on #387
There is one too in Museeks, or are you talking about something else?

[2018-02-06 13:27] a2nt commented on #389
ah checkout https://extensions.gnome.org/extension/495/topicons/

[2018-02-06 13:28] KeitIG commented on #138
Shouldn't be needed anymore now .deb, snap and appimages are here.

[2018-02-06 13:28] #138 closed

[2018-02-06 13:29] KeitIG commented on #392
you might be interested in this discussion https://github.com/KeitIG/museeks/issues/260, closing this and maybe you can add your thoughts there.

[2018-02-06 13:29] #392 closed

[2018-02-06 13:40] KeitIG commented on #377
So I've just tried to import a folder called `~/Documents/temp/Asa}/` and everything went well. Can you specify your OS?

[2018-02-06 13:55] KeitIG commented on #390
fixed by #391

[2018-02-06 13:55] #390 closed

[2018-02-06 13:57] KeitIG commented on #93
Apparently https://getharmony.xyz managed to do it, I will try to see how the did it.

[2018-02-06 14:02] #363 closed

[2018-02-06 14:03] #309 closed

[2018-02-06 14:11] a2nt opened #393 "[FEATURE] click to tray icon shall toggle player window"
First click shall show window, if window is shown it shall hide it

[2018-02-06 15:45] KeitIG commented on #393
I don't think this is a good idea, the tray is mostly used to give you the play/pause/next/previous features. If I am working in another program, I do not want museeks to pop-up.

On Win32 though, double clicking the tray shows the app, and right-click show the context menu.

https://github.com/KeitIG/museeks/blob/master/src/main-process/tray.js

[2018-02-06 20:42] vprigent commented on #377
Woops, I was talking about the square brackets ( [] )

[2018-02-07 02:42] a2nt commented on #389
we have a discussion here, guess it's the same issue: https://github.com/Foundry376/Mailspring/issues/648
Maybe it happens cuz of Gnome scaling 200% at QHD+ display, but Slack and WebTorrent works perfectly

[2018-02-07 08:44] KeitIG commented on #393
Let's move everything to #389

[2018-02-07 08:44] #393 closed

[2018-02-07 08:45] KeitIG commented on #389
ok, here's a list of the problems found so far:

- No tray on Ubuntu 17.10 without TopIcons gnome shell extension
- TopIcons tray doesn't work, you just see the icon with no context menu
- The tray icon is too small on QHD+

[2018-02-07 11:57] a2nt commented on #389
Created API method at TrayManager.updateIcon(newIcon)
It can be used to update tray icon like play/pause.

Also fixed Gnome-Shell issue:

Gnome icon will be resized to 24x24 like it was originally, after that of platform is Linux and gnome-shell is running tray icon will be changed to good one.

It happens in less than second so no one will notice glitch.

Right button click context menu works ok

[2018-02-09 06:00] a2nt commented on #387
@KeitIG sorry missed it thx, but would u also like to add an option: "Play next"

[2018-02-09 06:00] #387 closed

[2018-02-09 06:02] a2nt commented on #380
What about an option to start playing music just after application start?
So I click museeks and it starts playing my music

[2018-02-09 06:07] a2nt commented on #377
@KeitIG try "â ãåðìàíèè" file names

[2018-02-09 06:11] a2nt opened #395 "[BUG] The latest commit has sass styling issues"
[code]

[2018-02-09 06:13] a2nt opened #396 "[QUESTION] What about storing JetBrains configuration at git repo?"
I'm using WebStorm and it stores project configuration at the folder named .idea
Shall I add it to .gitignore or commit it?

[2018-02-09 08:40] martpie opened #397 "Remember the app state on restart"
An idea from @a2nt

Questions:

- does it make sense?
- how different players behave?

Possible specs:

- remember the queue/library/music playing
- do not automatically start a song that was being played the last time the app quitted
- care with potential conflicts with the future feature allowing you to open mp3 files with Museeks

[2018-02-09 08:42] #313 closed

[2018-02-09 08:42] KeitIG commented on #313
Done

[2018-02-09 08:50] KeitIG commented on #396
Yeah sure, can you add `.vscode` in `.gitignore` too if it's not already there?

[2018-02-09 08:56] KeitIG commented on #395
They are warnings not errors, so it's not a problem. I let it here because I wanted to remember about it.

I wrote this Sass years ago, and it is quite poor, I need to rewrite a lot of it. Let's move this into another issue.

[2018-02-09 08:56] #395 closed

[2018-02-09 08:58] martpie opened #398 "Improve styles codebase"
The currect styles have multiple problems

- [x] Drop Sass for Stylus or PostCSS to avoid non-js binaries [open discussion]
- [x] Remove all nesting in selectors
- [ ] Stricter lint rules
  - [ ] More variables/mixins
  - [ ] 6 digits colors
  - ...
- ...

[2018-02-09 08:59] KeitIG commented on #395
See #398

[2018-02-09 09:24] YurySolovyov commented on #398
Use native CSS variables?

[2018-02-09 09:31] KeitIG commented on #398
Pure CSS is a decent option today indeed

[2018-02-09 10:09] YurySolovyov commented on #398
I'm talking about pure css variables for now, I still like the ability to nest stuff (a-la sass/less/stylus etc.) and I don't think css allows that ATM

Just to be clear.

[2018-02-09 10:11] KeitIG commented on #398
Nesting is a not a must-have feature imho, it leads to potential terrible code (e.g the current one)

[2018-02-09 10:14] YurySolovyov commented on #398
There are 2 ways you can go: forbid nesting and use pure css or just be disciplined in using nesting and don't go nuts with it. I prefer 2nd option

[2018-02-09 10:52] KeitIG opened #399 "Reorganize bundle and build"
- [x] Packages generated should be in `build` folder, not in `dist`
- [x] JS/CSS/assets/HTML should be all in `dist`
- [x] Use [HtmlWebpackPlugin](https://webpack.js.org/plugins/html-webpack-plugin/) to generate the HTML page, drop `dist/index.html`

[2018-02-09 11:05] KeitIG commented on #396
@a2nt, sorry I was not clear. Can you do this in a separate branch? So we can merge these changes without having to review things that we don't agree on.

[2018-02-09 13:57] Tarik02 commented on #380
@a2nt i think it may be, but only if music was playing when you closed player.

[2018-02-09 15:07] KeitIG commented on #380
Let's discuss it on #397, these are two distinct issues.

[2018-02-09 22:20] probonopd commented on #335
Is there an ETA for the next release?

[2018-02-19 12:53] #399 closed

[2018-02-20 08:31] KeitIG opened #401 "Toggle, resize and re-order columns"
I splited these tasks from #62 to add more granularity, otherwise it will never be done.

- [ ] columns arrangement in `config.json`
- [ ] toggle columns with a context/menu
- [ ] resize columns with click-and-drag
- [ ] reorder columns with drag

[code]

[2018-02-20 09:09] KeitIG commented on #62
This is in progress, last big issue to fix before 0.9 release.

[2018-02-20 12:21] KeitIG commented on #340
System fonts are used on macOS as the app looks more integrated. There is a fallback on OpenSans for Linux/Win as the fonts sometimes looks weird.

Closing it for now, feel free to continue the discussion.

[2018-02-20 12:21] #340 closed

[2018-02-20 12:51] KeitIG commented on #396
I talked with a few colleagues about this problem, they told me these kind of configuration should be done in your global `.gitignore`, and not in the project's gitignore, which is fair :)

[2018-02-20 12:51] #396 closed

[2018-02-22 15:27] KeitIG opened #402 "Reduce CPU impact when tracks are playing"
Nevermind my earlier tweet, I was kind of wrong. When idle, Museeks has a normal CPU consumption, but it jumps up to 40% when playing museeks, I have a few idea why, and need to investigate.

[2018-02-22 16:03] YurySolovyov commented on #402
Obvious advice, but: take a look at profiler?

[2018-02-22 16:20] KeitIG commented on #402
Yep indeed. Interesting to see this too: this is a page with just an `<audio>` tag playing.

<img width="285" alt="screen shot 2018-02-22 at 17 19 56" src="https://user-images.githubusercontent.com/1311607/36550088-abc249c0-17f4-11e8-8178-2d83f4cf0b87.png">

[2018-02-27 13:42] KeitIG commented on #402
Ok, it appears this little bitch is responsible of a 20% CPU usage alone. I may want to force GPU rendering for the animation.

[2018-02-28 13:13] KeitIG commented on #402
Closed by #404

[2018-02-28 13:13] #402 closed

[2018-03-02 10:05] KeitIG opened #406 "Minor issues to fix before 0.9"
- [x] Clear button is not vertically centered in search input
- [x] "Now playing" animation should start hidden (currently all 3 bars visible)
- [x] Double-check dark theme
- [x] Arrow navigation does not move when out of screen
- [x] Library refresh: `Warning: a promise was created in a handler but was not returned from it`
- [x] Play button does not work anymore
...

[2018-03-02 10:08] KeitIG commented on #62
Going through the whole thing, I do not think it makes any sense to add sorting for playlists.

[2018-03-02 10:41] YurySolovyov commented on #62
Why not?

[2018-03-02 15:22] YurySolovyov commented on #353
Could be worthwhile: https://github.com/rematch/rematch

[2018-03-02 16:13] KeitIG commented on #372
Working on the sorting features, I might have found a way to get rid of the enum and this all/sub system.

_Reminder: this system exist to avoid janks in the `TracksList` component._

The potential solution would be to start from:

[code]

and arrive to something more decent:

[code]

The idea would be to make use of the `mapStateToProps` in `Library.react.js` and `Playlist.react.js`, and do the f

[2018-03-02 16:17] KeitIG commented on #353
Looks great, I will give it a try!

[2018-03-02 16:22] YurySolovyov commented on #372
Sure, that's even better, one less concept to worry about

[2018-03-02 16:24] KeitIG commented on #372
This was actually how things were before (loooong time ago), but things would get slower in O(n), n being the total number of tracks in the library. I will try implementing it now and see if it goes well.

[2018-03-02 22:26] #372 closed

[2018-03-05 09:27] KeitIG opened #408 "Library is randomly reset"
I have no idea if this is due to an Electron update but my library gets randomly reset after launching the app.

Possible causes:

- Something happens to the config folder
- Electron update?
- Switch from Electron dev build/real Museeks app

[2018-03-05 11:16] KeitIG opened #409 "Prepare README.md for 0.9"

[2018-03-06 07:58] KeitIG commented on #79
damn, it was fixed a long time ago.

[2018-03-06 07:58] #79 closed

[2018-03-06 08:57] KeitIG opened #410 "Creating a playlist does not redirect to it anymore"
<img width="428" alt="screen shot 2018-03-06 at 09 56 51" src="https://user-images.githubusercontent.com/1311607/37022957-c6496da8-2124-11e8-8674-945d5e72b2a5.png">

[2018-03-06 12:43] KeitIG commented on #410
Fixed by 10d647c710d87006c81032074832ad10476638f7

[2018-03-06 12:43] #410 closed

[2018-03-06 13:38] KeitIG commented on #406
Done.

[2018-03-06 13:38] #406 closed

[2018-03-06 13:38] KeitIG commented on #62
Done in #411

[2018-03-06 13:38] #62 closed

[2018-03-07 00:11] #409 closed

[2018-03-07 00:11] KeitIG commented on #409
done

[2018-03-07 16:07] KeitIG opened #412 "Queue is not in the right order after starting playing a song"
because they are not ordered anymore in the store 😄

I guess we let that slipped x)

[2018-03-08 10:08] KeitIG commented on #412
Done in 40f3a8c79ed3d605d495c785ad21099716e9c839

[2018-03-08 10:08] #412 closed

[2018-03-08 10:20] KeitIG commented on #148
Unit-tests and test coverage are on my todo-list for the 0.10 release

[2018-03-08 10:22] KeitIG commented on #366
Predictability, runtime errors and static type checking. It sounds weird said like that, but I did a project in TypeScript recently, and the amount of runtime errors found in the app was reduced by 90%.

I am considering Flow because its integration with React is seamless compared to TypeScript, and files can be converted one at a time.

[2018-03-08 12:10] guzzard opened #413 "Exception thrown so library scan stops and never completes"
[code]
![image](https://user-images.githubusercontent.com/9007314/37150457-08a58e80-22d2-11e8-85ed-00fd1ec3ec99.png)

[2018-03-08 12:14] KeitIG commented on #413
Hello @guzzard !

Thank you for the report, what version of Museeks do you use? v0.9 is about to be released (today), do you want to try it and see if you can reproduce this bug?

[2018-03-08 12:32] KeitIG commented on #413
I actually just released it https://github.com/KeitIG/museeks/releases

[2018-03-08 12:42] YurySolovyov commented on #408
shouldn't this be fixed before/with 0.9?

[2018-03-08 13:08] KeitIG commented on #408
I do not have clear steps to reproduce it, this is really weird. It just happened a few times completely randomly.

[2018-03-08 13:16] guzzard commented on #413
Hi @KeitIG, I was trying 0.81 on Mac OS X. Testing new version 0.9 now, will report back with results (will take some time to scan..).

[2018-03-08 14:40] YurySolovyov commented on #329
I think this can be closed now

[2018-03-08 15:46] guzzard commented on #413
@KeitIG, no error this time, but I quit the app after about 2 hours of scanning the library (25k+ over sshfs). When I started the app again, the scan did not resume however, and I cannot find any way to manually resume the scan. Would that be possible to add?

[2018-03-08 16:44] KeitIG commented on #413
@guzzard ok 👍

A few things here:

- large libraries: I never tried Museeks with this amount of tracks, you might encounter some slowdowns
- folders mounted over the internet: I never tried it, this could explain why it is this slow
- resume scan: some tracks should be your library already (no?), try to re-import your folder, duplicates won’t be imported again

[2018-03-08 16:46] #329 closed

[2018-03-08 17:02] KeitIG opened #414 "Improve (really) large libraries handling"
Museeks is fine with small and medium libraries. However, there is always a OMGUbuntu! guy to come and say "I have a 6TB library, how would Museeks perform with it?".

- Check any slowdown/bottlenecks:
  - During the scan
  - UI responsiveness in general
- Improve/fix what can be improved/fix

---

Things found so far:

### UI/UX

- [x] Better visual indicator when refreshing the library

On reall

[2018-03-09 04:13] lachlan-00 commented on #414
I have ~180k files so i can test this out for you. would you like to follow a process or use certain commands to get information about the load?

[2018-03-09 06:31] KeitIG commented on #414
What I would be really interested is how well/bad Museeks performs compared to your usual default player :)

- for the scan performance
- for the UI responsiveness in general

The first one should be ok I think, the second one is the one I’m the most afraid of.

[2018-03-09 07:29] lachlan-00 commented on #414
Can do! I have a folder with 20k to test and I'll start with that. Do some timings, etc

[2018-03-09 07:50] guzzard commented on #413
@KeitIG resuming the scan by just adding the folder again seem to work 👍

However, looking at the network traffic, it looks like the whole files are read? That must be the reason why the scan takes such a long time (even at 12MB/s). It should be enough to read the start and end of MP3 files to get the ID3 tag?

[2018-03-09 07:58] KeitIG commented on #413
Ah, interesting indeed! I think we need to read the whole file to get the song duration.

Maybe there is a way to know it without reading the whole file

[2018-03-09 07:58] KeitIG commented on #413
Thank you very much for your help 🙌

[2018-03-09 08:31] guzzard commented on #413
@KeitIG Yeah, seems like it's possible to calculate the length from header data + file size?

https://stackoverflow.com/questions/23776115/get-mp3-length-in-c

I know other players are scanning the library and getting ID3 + length without reading the whole files, gmusicbrowser and Quod Libet are two examples.

[2018-03-09 08:45] KeitIG commented on #413
So apparently yes, it seems like a new thing in `musicmetadata` https://www.npmjs.com/package/musicmetadata#api (last point) (at the time, I donot think this option existed).

I will try to integrate this change and see how it affects things.

[2018-03-09 09:03] guzzard commented on #413
Awesome! Should speed things up considerably locally, and make internet mounted folders usable as well! 👍

[2018-03-09 09:05] KeitIG commented on #413
@guzzard Do you have an email address and an OS so I can send you a test binary?

[2018-03-09 09:11] KeitIG commented on #413
@YurySolovyov Are you aware of any downside with `Promise.promisify` in terms of performances? I do not see a lot of differences after implementing these changes.

[2018-03-09 09:24] lachlan-00 commented on #414
I started with a test folder with 19,356 mp3 files over nfs.

no slow downs with the interface while adding tracks at all. In fact it was prefect during the whole import. (besides being empty)

Visually the progress bar is the only indication that anything is happening and i suspect that as the file count get larger it would be harder to identify that anything is actually happening.

no pause/relo

[2018-03-09 09:35] KeitIG commented on #414
Every tracks is saved to the library when the id3 has finished being parsed, so if the app crashes and you start re-scanning again, all previously saved tracks won't be re-scanned.

I had the idea to display tracks once they are added in the database, but it could be REALLY CPU consuming if you stay on the library view. Maybe we could bulk them though, and add 100 tracks at a time, it should not b

[2018-03-09 09:45] YurySolovyov commented on #414
We can show added/total count near the progress bar, should be cheap enough to update 1 text node

[2018-03-09 09:46] lachlan-00 commented on #414
Could the settings page show a library file total?
That would give a visual progress while keeping it out of the library pane.

[2018-03-09 09:46] lachlan-00 commented on #414
Progress bar works too

[2018-03-09 10:18] YurySolovyov commented on #413
No, not really.
That said, I'd probably consider dropping bluebird at some point, cause native promises + async/await are going to be the future and there are [native node API](https://nodejs.org/api/util.html#util_util_promisify_original) for promisification, as well as [community modules](https://github.com/sindresorhus/pify) that use native promises under the hood

[2018-03-09 10:22] KeitIG commented on #414
I started to write some issues/potential fixes in the first comment

[2018-03-09 10:34] YurySolovyov opened #415 "0.9 for Windows does not display logo on about page"
Title says it all
![default](https://user-images.githubusercontent.com/2168518/37203379-81fff9b0-239e-11e8-87ad-98793aae9305.png)

[2018-03-09 10:35] YurySolovyov commented on #414
as a DB option, there is [Dexie](https://github.com/dfahlander/Dexie.js)

[2018-03-09 10:49] YurySolovyov opened #416 "PageUp/PageDown and Home/End key pairs only work once"
After library got scrolled, you need to select track again to scroll more

[2018-03-09 10:52] YurySolovyov opened #417 "Feature request: ability to reveal currently playing track in the library"
On large libraries, it is easy to get lost and spot the playing indicator

[2018-03-09 11:04] KeitIG commented on #416
Can you show a screencase or something? I cannot reproduce it

[2018-03-09 11:13] KeitIG opened #418 "When the library is reset, playlists are not removed from the store"

[2018-03-09 11:26] YurySolovyov commented on #416
1. start playing track from the above of the library
2. press PageDown - it scrolls
3. press PageDown again - nothing happens

[2018-03-09 11:42] lachlan-00 commented on #414
Just one last update before I go to bed.

Startup with 20k tracks is near instant.

Startup with 71k takes 20-26 secs.

Sync for 70k was about 1hr20

[2018-03-09 12:08] igorer88 commented on #417
Something I like from Rhythmbox is the ability to mark current playing song
by positioning it and mark it as  selected in the center of the list.

El 9 mar. 2018 6:52 AM, "Yury" <notifications@github.com> escribió:

On large libraries, it is easy to get lost and spot the playing indicator

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on

[2018-03-09 19:29] celynwalters opened #419 "Window title switches to "index.html""
When Museeks opens (normally or toggling native frame), the window title is `Museeks`.
Switching tab to playlists or settings will cause it to change to `index.html`.
(Affects the taskbar, and title bar if native frame is enabled)

Tested on 0.9.0, Windows 10.
I couldn't reproduce this in 0.8.1 (x64).
Used fresh 'AppData/Roaming/Museeks' each time.

[2018-03-09 19:53] KeitIG commented on #419
Hello!

Thanks for the report, can you share a screenshot and tell me your OS and which binary you used?

[2018-03-09 19:54] KeitIG commented on #419
np, I can reproduce it. I will investigate :)

[2018-03-09 23:45] #419 closed

[2018-03-10 00:20] #415 closed

[2018-03-10 00:20] #418 closed

[2018-03-10 08:39] lachlan-00 commented on #414
Looks like there's an issue once you get large.

I have been scanning my main library for almost a day now after stopping at 71k last night and it still hasn't completed. Stuck at half way by the looks.

I'll keep it going to see what happens but it is suffering somewhere in the process

[2018-03-10 15:11] denikris commented on #413
problem still exist in version 0.9.x deb file

[2018-03-11 12:44] likern opened #420 "Sound volume should be integrated with OS"
I'm testing your music application and found out that it's volume bar is completely different with system volume.

I think it should be integrated as I can lower system volume (or even mute) but museeks's bar will show I'm at 100% sound level.

I think if I change system volume, application's volume bar should be reflected accordingly and vice versa.
![screenshot from 2018-03-11 15-41-00](https://

[2018-03-11 15:49] Kenya-West opened #421 "Publish the app to Microsoft Store"
Microsoft Store is one place for everything in your life, moving your experience to a safe one and making it accessible from many devices that added to your Microsoft account.

Publishing apps to Microsoft Store is benefit both for users and developers + enterprise. Deploying classic apps, that available in Microsoft Store, with safe methods to a verified environments is trusted by enterprises and

[2018-03-12 10:25] DmitrySkibitsky opened #422 "Audio by Directories"
People who listen to music often sort it by directories. Why does nobody add this structure to the audio players? I have +4k songs and a lot without tags. It's not practical to use the application.

[2018-03-12 10:38] KeitIG commented on #422
Hello :)

Could be an interesting addition to (or duplicates of) #130

Because this very usecase is quite uncommon, and the complexity to implement that really hard: Museeks is a  Another way to solve it could be to have a context menu in Nautilus/Finder/whatever to play all tracks in the current folder.

[2018-03-12 10:39] KeitIG commented on #422
_and no need to be rude, if you don't like the app, feel free to uninstall or fork it._

[2018-03-12 10:41] YurySolovyov commented on #422
Not sure if it is (un)common, but I use it a lot in other players (not museeks everywhere yet, sorry)

[2018-03-12 11:35] KeitIG commented on #422
@Yury, do you have player names so I can check how they achieve this?

[2018-03-12 11:36] yury commented on #422
cc @KeitIG  @YurySolovyov

[2018-03-12 12:12] YurySolovyov commented on #422
@KeitIG http://www.aimp.ru/ (see EN language toggle at the top)

[2018-03-12 12:18] DmitrySkibitsky commented on #422
@KeitIG , I do not think this app is bad. Just this I do not have enough in the players. Take the same deepin music, or Lollipop ... They have a maximum of Executors, Albums, etc. but nobody does the directory structure. For me, this is the most important thing.

[2018-03-12 12:21] KeitIG commented on #422
The idea makes sense. How do you usually organize your library @DmitrySkibitsky?

I personally have something like `music/artistslists/albumslist/trackslist`

[2018-03-12 12:24] KeitIG commented on #422
On the technical part, we might want to go back to what we had before, with folders added to the library.

Related to #338.

Some of the problems:

- circular references / symlinks
- how to display these (just a file explorer)?
- ...

[2018-03-12 12:25] YurySolovyov commented on #422
One tricky part I can see in implementing this is how to get parent dir nicely.
For 99% of cases we can "just" grab the parent dir and that will be correct:
[code]
in that case you get `Album-name` and you're done.

But.

there are cases like:
[code]
And I'm not sure what's the good heuristic for getting `Album-name` in that case.
Maybe just take everything between filename and root directory for

[2018-03-12 12:30] DmitrySkibitsky commented on #422
@KeitIG, At me it is similar. But do not attach nesting to a specific value. Simply banal "Directory structure" After all, somewhere there is a path to the audio file in some file "all_files.db" Draw the directory structure, and then click on the path to "output audio," go through all_files.db and compare . Sounds easy))

[2018-03-12 12:31] YurySolovyov commented on #422
(follow-up to my prev. post)
Or, we can treat all folders inside root as albums regardless how files are stored inside:
so that for
[code]
we just take `Album-name` as folder name and scan everything inside recursively

[2018-03-12 12:32] DmitrySkibitsky commented on #422
I just do not know how it works. I just introduced.

[2018-03-12 12:36] DmitrySkibitsky commented on #422
@YurySolovyov , By clicking on the "Structures" item, there must be a full path. Otherwise, what you are talking about is confusion in the same names.

[2018-03-17 22:20] SirWindfield commented on #420
That's a design decision. It works in almost every other music player I have tried too that way.
<img width="1280" alt="screen shot 2018-03-17 at 23 19 48" src="https://user-images.githubusercontent.com/5113257/37560504-be123200-2a39-11e8-88cc-cf0576792e93.png">
Here is iTunes, one of the most popular ones. It has the same behaviour.
I actually prefer it that way because you can tweek the player v

[2018-03-18 12:40] likern commented on #420
What about adding some preference choice, if it's not hard to implement. Like "Use system volume" selector? To give more options and tweaks.

[2018-03-18 16:41] lottanbettan opened #423 "Some input"
Great app! Clean and simple without cloud sync and all that.

On macOS, I'm dreaming of:
* keyboard shortcut to hide window: cmd+H (default in system and 99% of apps).
* monochrome tray icon(s) option (black on light, and white on dark).
* most wanted: hide tray icon option (a lot of mac users really dislike "forced" tray icons).
* a short delay (0.2 sec?) on hoover (volume button and timeline bar

[2018-03-18 21:39] vprigent opened #424 "Library import stalle when app not focused"
Hi all.

That is something I have already noticed. When we try to import a lib, it can take some time, so we usually switch to another window but then, the import seems to pause completely, the only solution is to focus Museeks.

Do you know where it could come from ?
I think this has already been discussed but I coulnd find an issue talking about this.

[2018-03-18 22:31] KeitIG commented on #424
I've noticed this too

[2018-03-18 22:35] KeitIG commented on #423
Hello @lottanbettan,

thanks for the feedback!

- Shortcuts: shoudn't be too hard
- Monochrome icon: #259 existing issue :) I may need the help of a designer on this one
- Hide Tray option: I agree with you; maybe we should update the behavior of "minimize to  tray" option
- Flickering: I cannot reproduce it on macOS; can you do a screencast?

[2018-03-18 23:25] vprigent commented on #424
I could easily see something related to how Chrome tries to reduce its processor footprint when its not focused...

[2018-03-18 23:26] KeitIG commented on #424
Maybe moving the library refresh to a worker would help

[2018-03-19 08:46] KeitIG commented on #420
I agree with everything @SirWindfield said. I am trying to understand your usecase though: when willing to change the volume of my laptop, I use the global shortcut for it, not Museeks.
Using Museeks to change a global settings looks weird to me.

Electron ref: https://github.com/electron/electron/issues/1976

[2018-03-19 08:51] #420 closed

[2018-03-21 20:45] lottanbettan commented on #423
Hi, thanks for the app!
* I tried to upload 2 *.svg monochrome tray icons (light and dark mode) here on github, probably I messed up though :)
* Minimize to tray is great in Windows, but in macOS it's better to skip the tray icon and just minimize to "dock" (play/pause and prev/next is easy done with the keyboard).
* Flickering: no I can't :) but I can try to explain better... It's not really flic

[2018-03-21 20:49] lottanbettan commented on #259
Is this useful?
[trayicons-monochrome.zip](https://github.com/KeitIG/museeks/files/1835191/trayicons-monochrome.zip)

[2018-03-22 07:19] KeitIG commented on #423
Oh I see, by flickering you mean « when quickly hovering the volume icon with no intention of actually changing it » right? I didn’t think about that and this is a valid point to me.

About the Tray Icon, I kind of agree too with you, I’ll do some research about the behaviors of apps on different OS

[2018-03-22 07:19] KeitIG commented on #423
And thank you so much for the icons 🙏 I’ll check them out today!

[2018-03-22 08:38] KeitIG commented on #259
They look really nice, let me try to implement that. Thank you so much ❤️

[2018-03-22 09:34] KeitIG commented on #259
I quickly had a look at the whole stuff, I will convert those SVGs to PNG as they are SVG is not supported by `NativeImage`. I could also be a good opportunity to do #104 at the same time. It is currently a mess.

[2018-03-22 10:02] lottanbettan commented on #423
:) yes exactly! you said it with less words and more meaning.
not a problem, tell me if you want the icons to be changed in any way and I'll give it a try.

[2018-03-22 10:46] lottanbettan commented on #259
Great! Thank you!
I changed the size and line thickness a little to look more "balanced" in its context and visible in its tray size. And converted them to PNG, see the 2 attached images below (one is white on white here on github = invisible).
![trayicon-monochrome-lightmode-v2](https://user-images.githubusercontent.com/32929295/37766055-19a721ea-2dc6-11e8-95e1-3e34bb392ae4.png)
![trayicon-monoch

[2018-03-22 11:24] YurySolovyov commented on #259
@lottanbettan can you post an example of how it looks on
1. Status bar
2. Black on White
3. White on Black

(cause you know, GH pages are white and it looks like an empty space :))

[2018-03-22 15:15] KeitIG commented on #414
Ok, please do not laugh at this one.

We are experimenting with multiple front-end framework at work like Vue, React or Svelte. I am currently concerned by how the `TracksList`'s render method, especially during scrolling for huge libraries.

The main reason we implemented it that way with tiles and all these tricky tricks was to improve the rendering speed: render more often, but in O(1) instead

[2018-03-22 15:33] YurySolovyov commented on #414
I know our `TracksList` is kinda home-grown, have you tried other virtualized lists components?

[2018-03-22 19:17] lottanbettan commented on #259
Like that:
![screenshot](https://user-images.githubusercontent.com/32929295/37793086-ef891cb8-2e0d-11e8-85c6-b996c1197f09.png)
(The inverted version you can easily imagine :)

[2018-03-23 09:04] KeitIG commented on #354
@Coconaut11 can you test the latest version of Museeks and tell me if you can reproduce it?

[2018-03-23 12:51] KeitIG commented on #259
I did not think about the "use dark menu bar and Dock" option in the system preferences. I will check if there is a way to detect it with Electron

[2018-03-23 13:16] KeitIG commented on #259
Found it, we actually do not even need the light version

https://electronjs.org/docs/api/native-image#template-image

[2018-03-23 14:20] KeitIG opened #426 "Set dock menu on macOS"
If we want to remove Tray on macOSm it would be great to have this.

<img width="205" alt="screen shot 2018-03-23 at 15 32 20" src="https://user-images.githubusercontent.com/1311607/37835037-7e567bba-2eaf-11e8-9482-a77d195401a9.png">

[2018-03-23 14:36] KeitIG commented on #423
I am thinking about purely disabling Tray on macOS since we have the same content in the dock, global shortcuts work great, and it only makes sense on Windows/Ubuntu where hiding the app remove the icon from the dock.

I know some people prefer having options, but I like having opinionated way to do things. When I implemented the Tray, I had no mac. Now I have one, I do not really see its use on t

[2018-03-23 14:55] YurySolovyov commented on #414
E.g. https://github.com/Flipkart/recyclerlistview

[2018-03-23 19:05] lottanbettan commented on #423
100%! 👍

[2018-03-23 19:13] lottanbettan commented on #259
I love how active the development is around here :)

[2018-03-23 22:38] KeitIG commented on #259
It is sporadic tbh. Sometimes I don’t do anything for 4 months :smile:

[2018-03-24 12:03] lottanbettan commented on #423
I don't really know the culture on GH, should I close the issue when we reached this far? :)

[2018-03-24 12:04] lottanbettan commented on #423
hehe sorry, close, open, close

[2018-03-24 12:05] lottanbettan commented on #423
I don't really know the culture on GH, should I close the issue when we reached this far? :)

hehe sorry, close, open, close

[2018-03-24 12:18] lottanbettan opened #427 "Shuffle bug"
On mac:

If shuffle is ON when music is started: when shuffle is turned OFF the app window turns all white, but music continues.
Doesn't seem to matter if the queue is empty or not.
It's not like this with the repeat function.

All the best!

[2018-03-24 12:26] lottanbettan commented on #423
Or I'll just continue to use this thread...

More wishes:
* Make title, artist and genre clickable to filter the clicked "keyword".
One simple(?) solution would be to make searches like "genre:rock" and "artist:beatles" filter that content, and that the click just adds that text to the search bar. Then there is no need for a new navigation button ("go back to full library" button), it's just for t

[2018-03-24 12:40] KeitIG commented on #427
Fuck this, again. I thought it was fixed.

I really need to implement unit-tests...

[2018-03-29 10:46] lottanbettan commented on #427
Sorry, didn't know this was a sensitive issue :)
Thanks for all your great work, looking forward for upcoming releases.

[2018-03-29 11:08] KeitIG commented on #427
I'll try to fix it and release a patch asap

[2018-03-29 12:24] axelkennedal opened #428 "Can't hide application on macOS"
All applications in macOS are hidden with the shortcut cmd + H, and this app seems to be the only exception... It's pretty annoying.

[2018-03-29 12:28] KeitIG commented on #428
There is an open pull request there: https://github.com/KeitIG/museeks/pull/425 that fix this very problem. I still need to polish a few things then I will publish a new release

[2018-03-31 23:41] #259 closed

[2018-03-31 23:41] #423 closed

[2018-03-31 23:41] #426 closed

[2018-03-31 23:41] #428 closed

[2018-04-01 11:29] KeitIG commented on #421
Hello! thank you for this issue,

I don't want to sound like a troll, but the link you provided is not what I called an "easy" process: Microsoft has always been terrible at documentation, and this is another example, I understand nothing of the process.

As I don't usually develop on Windows, I will close this issue for the same reasons I didn't want to publish a snap on the snapstore: I do not w

[2018-04-01 11:29] #421 closed

[2018-04-02 14:09] #427 closed

[2018-04-02 20:25] KeitIG commented on #408
Could not reproduce it in some time. Closing it for now.

[2018-04-02 20:25] #408 closed

[2018-04-02 21:09] KeitIG commented on #389
@a2nt Could you please try the `hidpi` branch and tell me if the Tray looks fine or not? I tested on my MacBook with Virtualbox but I see a blurry icon. I do not know if this is because of Virtualbox or not.

[2018-04-02 21:12] KeitIG commented on #386
From what I see [here](https://www.electron.build/icons), Electron builder does not support SVG and bases its icon on the ICNS file. Are you currently seeing a blurry icon or ...? Maybe I could update the ICNS.

[2018-04-02 21:12] #386 closed

[2018-04-02 21:17] KeitIG commented on #386
The ICNS file contains a 512x512 version of the logo, I think it is more than enough

[2018-04-02 21:40] KeitIG commented on #375
I can reproduce it on Ubuntu, I will investigate

[2018-04-02 21:43] KeitIG commented on #375
An up-to-date version of the screen with the latest main-process refactoring:

<img width="545" alt="screen shot 2018-04-02 at 23 42 35" src="https://user-images.githubusercontent.com/1311607/38217685-8d0cd9ec-36cf-11e8-8403-61ba3eafcb4e.png">

And the line:

```this.workArea = electron.screen.getPrimaryDisplay().workArea;```

[2018-04-02 21:47] #371 closed

[2018-04-02 21:48] KeitIG commented on #375
Found the solution there: https://github.com/electron/electron/issues/8862

[2018-04-02 21:49] KeitIG commented on #375
Fixed in 16079935b963b1e5a355f3a0126dc270e86c2cea

[2018-04-02 21:49] #375 closed

[2018-04-02 21:53] KeitIG commented on #365
@Nino9614

Here I am again, sorry for the delay. By global shortcuts, I mean if you have media controls on your laptop/keyboard, they _should_ be working fine

example:

![](https://cloud.addictivetips.com/wp-content/uploads/2017/10/media-keys-keyboard.jpg)

I will not integrate global shortcuts like `ctrl-maj-alt-P` for play/pause for example, because this is bad UX and can conflict with other ap

[2018-04-02 21:53] #365 closed

[2018-04-02 21:55] KeitIG commented on #314
I'll close this, imo we should use a simpler library or a fully custom one. (or maybe just a few key components from Bootstrap, like Reboot, the grid and utilities)

[2018-04-02 21:55] #314 closed

[2018-04-03 07:44] KeitIG commented on #377
I just tried again, and it works (on macOS), I'll try on Ubuntu.

[2018-04-03 07:48] KeitIG commented on #351
From #423 by @lottanbettan

- a short delay (0.2 sec?) on hoover (volume button and timeline bar), would fix the "flickering" appearance.

[2018-04-03 07:55] KeitIG commented on #159
Has been solved by installers.

[2018-04-03 07:55] #159 closed

[2018-04-03 07:56] #131 closed

[2018-04-03 17:49] KeitIG commented on #428
Released :)

[2018-04-03 17:51] KeitIG commented on #423
Some of your points were fixed in the 0.9.1 release :)

About:

Advanced search: https://github.com/KeitIG/museeks/issues/230
ID3 tags: #197

[2018-04-04 05:11] codedcosmos opened #431 "Feature Request: Media button functionality"
I have switched over from rhythmbox and so far it has been great. My only issue with Museeks is that I have to switch to the workspace I put my music player in and click a button when I want to pause or skip a song. Adding the ability to press the play/pause/skip etc buttons on my keyboard would be a great feature for me and would pretty much make Museeks perfect for me.

tldr: Add the ability to

[2018-04-04 07:11] KeitIG commented on #431
Hello! :)

Media controls « should » be working: https://github.com/KeitIG/museeks

Can you share the model of your laptop/computer/keyboard?

[2018-04-04 08:51] codedcosmos commented on #431
Oh sorry, I must be a edge case, I forget you guys support more than just Linux. I am using a cougar 600k keyboard on arch Linux 64 bit with gnome.

Thanks for the quick reply!

[2018-04-04 09:27] KeitIG commented on #431
And can you confirm those media keys work with other players? Maybe this is an issue with Electron/Chromium itself... Looks similar to #365 though

[2018-04-04 09:57] codedcosmos commented on #431
They work with VLC and rhythm box from memory but I will test chromium shortly. .

[2018-04-04 10:00] codedcosmos commented on #431
It doesn't appear to work with chromium/firefox with youtube but I am not sure if that's normal. I check #365 and yes those are the sorts of buttons I am using. If you would like I can send a screenshot or a log file.

[2018-04-04 12:50] KeitIG commented on #431
I just found that https://github.com/electron/electron/issues/5268

As it looks like a specific linux problem, maybe I should investigate this way.

[2018-04-04 12:57] KeitIG commented on #93
Let's just steal this: https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/search?utf8=%E2%9C%93&q=mpris&type=

[2018-04-04 13:54] BlueManCZ commented on #431
I'm using Debian 10 with newest KDE Plasma and each media player (Rhythmbox, Clementine, Banshee) has integration with backend media player [Phonon VLC](https://community.kde.org/Phonon). When I run a song, in system tray I can see this popup window, which can control the media player and works great with keyboard control keys.

![screenshot_20180404_153432](https://user-images.githubusercontent.c

[2018-04-04 13:54] KeitIG opened #432 "Context-menus not working anymore in TracksList"
lalalaaaa, unit-tests... lalaaaaa.

Let's fix #336 at the same time

[2018-04-04 13:55] KeitIG commented on #431
It might be related indeed, I worked a bit on #93 Mpris support and it looks really similar. I think I should be able to implement that for 0.10.

[2018-04-04 14:13] BlueManCZ commented on #431
Also integration with default system apps would be great. (Open file with.., Set app as default for this file extension..) :blush: But this is for another thread.

[2018-04-04 14:15] KeitIG commented on #431
https://github.com/KeitIG/museeks/issues/154 #https://github.com/KeitIG/museeks/issues/155 ;)

[2018-04-04 14:56] BlueManCZ commented on #137
I don't know, if this has any update, but guy who develop Min browser, has [translations](https://github.com/minbrowser/min#contributing-translations) done trough .json files and everybody, who can contribute, just create a copy of en-US and translate it to new language.

[2018-04-04 15:31] #336 closed

[2018-04-04 15:31] #432 closed

[2018-04-04 15:33] KeitIG commented on #137
I had to use` i18next` recently, in combination of `react-i18next`, it worked perfectly, and this is probably what we will use. I do not want to implement it now though, because the UI is still changing and I do not want to wait of external contributors to do a release if a string is not translated ;)

[2018-04-04 16:12] BlueManCZ commented on #146
The `.m3u` file is plain-text file, which contains information about tracks, which are on playable medium like CD or something like that.
![screenshot_20180404_180728](https://user-images.githubusercontent.com/17854950/38319809-11be0e90-3833-11e8-8fe8-f17fc290f561.png)

Here is what is inside:
[code]

If you open this file, media player exactly know, which tracks can be loaded, can create temporar

[2018-04-04 16:24] YurySolovyov commented on #137
I'm not sure if this approach is widely used, but I think English translation should act as baseline and other translations are "merged" (deep merge that is) into it. This way you never have a missing translations because English one is always up to date.

[2018-04-06 10:56] codedcosmos commented on #431
My guess is that it is electron that is the issue.

[2018-04-11 06:59] codedcosmos commented on #431
Took a while for the AUR to update:
https://aur.archlinux.org/packages/museeks-bin/

but it is still an issue even though the patch notes list:

[2018-04-11 07:06] KeitIG commented on #431
This patch note is unrelated to this problem ;) I will try to investigate today what causes this.

[2018-04-11 08:11] codedcosmos commented on #431
Oh ok. Cheers

[2018-04-12 08:14] KeitIG commented on #416
I initially thought it was due to `react-custom-scrollbars`, but those events work fine on their demos. I'll continue investigating.

[2018-04-12 08:23] martpie opened #436 "Accessibility"
Make the app fully and completely accessible.

- [x] Make use of `jsx-a11y`
- [ ] Test visual accessibility
- [ ] Test keyboard-only scenario

[2018-04-12 08:57] KeitIG commented on #413
We switched to a new package to scan id3 tags in 0.9.1, can you test it and tell me if it is reproducible?

[2018-04-12 09:07] vprigent commented on #436
Opquast kind of accessible ?

[2018-04-12 09:48] KeitIG commented on #436
I don't know what this is 😄 Accessible kind of accessible.

Screen-reader + full keyboard support should be a good start.

[2018-04-12 09:51] vprigent commented on #436
Opquast references a list of good practices regarding the web in general with a strong emphasis on accessibility. Making sure we have a color-blind option or that the contrast makes things readable to everyone is part of accessibility but often forgotten.

[2018-04-12 10:04] KeitIG commented on #436
I will need to check contrast, but the new (now old) dark theme improved things significantly.

[2018-04-12 13:57] #383 closed

[2018-04-13 09:38] martpie opened #437 "Quietly get rid of Bootstrap"
I am ok with keeping `reboot.css` and `grid.css` as they are fantastic tools. The reason for this is most of our use of Bootstrap is for layouts. Most elements gets tons of overrides (like buttons in the header of the footer.

[2018-04-13 09:40] KeitIG commented on #369
I think the problem was just loading the whole library after a scan. It can take quite some time depending of the size of the library.

Let's merge this issue with #414

[2018-04-13 09:40] #369 closed

[2018-04-13 14:35] brachna opened #438 "Some m4a files are not added to the library"
Windows 8.1 64bit, Museeks 0.9.3

Some m4a files are not added into the library after folder scan. Example file:
[4. New Track #2 (Live).zip](https://github.com/KeitIG/museeks/files/1907760/4.New.Track.2.Live.zip)

Included file plays perfectly in Clementine and Tomahawk.

[2018-04-13 14:58] KeitIG commented on #438
Hello!

I just tried importing the file you just sent, there is a metadata problem obviously (I need to check that out), but the file is imported.

![screen shot 2018-04-13 at 16 57 25](https://user-images.githubusercontent.com/1311607/38742048-c14f39b0-3f3b-11e8-838c-c8bf9769af61.png)

[2018-04-13 14:59] KeitIG commented on #438
For the record:

<img width="762" alt="screen shot 2018-04-13 at 16 59 12" src="https://user-images.githubusercontent.com/1311607/38742138-070f6dc6-3f3c-11e8-9017-c98208cdf0ed.png">

[2018-04-13 15:29] KeitIG commented on #438
I fixed the duration problem, and I opened an issue there: https://github.com/Borewit/music-metadata/issues/74, as it is a problem with the library we use to extract id3 tags.

[2018-04-14 14:14] KeitIG commented on #438
@brachna can you confirm that the file is added to the library, but without correct id3 tags?

[2018-04-14 17:00] brachna commented on #438
I checked and yes, it is added as unknown artist.
It can't be played though.

[2018-04-14 17:07] KeitIG commented on #438
Oh really? Can you in settings > advanced > open dev tools, and tell me the error you get in “console”?

Much appreciated 🙏

[2018-04-14 17:45] KeitIG commented on #438
Yep this is what I noticed too, I'll investigate on Ubuntu. Thank you for the report o/

[2018-04-14 18:11] brachna commented on #438
Thank you for looking into it.

[2018-04-15 23:13] KeitIG commented on #155
Currently working on this, but the documentation on file association is terrible, and testing it is tough too.

[2018-04-15 23:33] KeitIG commented on #155
https://electronjs.org/docs/api/app#event-open-file-macos

[2018-04-16 14:18] balzabalza commented on #231
I do agree with this possible feature. With the latest releases, Museeks has made very good progresses, and I use this feature a lot, to keep track of what I'm listening to via PC/Smartphone/Tablet, no matter the program that is responsible for playing music (iTunes/Museeks/Shuttle+/Spotify...).

Features like this could be a deal breaker for people like me, although of course it is not of the hig

[2018-04-16 14:28] balzabalza opened #439 "Playlist syncing with Android"
Hi,

I have a feature request based on a common scenario:

- Let's say I factory reset my Android phone, for whatever reason. All music files would be canceled.
- My phone has limited storage, and y music library is larger than that so I'm used to select the music I'm more likely to listen to in those days
- What I normally do, is select the album folders I want one by one, and copy them into my p

[2018-04-16 14:31] balzabalza opened #440 "Automatic playlist"
It would be cool to have automatic playlists created by Museeks, something like:
- Most played songs
- Recently reproduced songs
- Recently added songs

Without such playlists, the playlist windows remains too much "empty", and can be useful for casual listeners.

[2018-04-16 15:08] KeitIG commented on #231
Well, it seems to gain traction :) I may re-prioritize this then

[2018-04-16 16:29] balzabalza commented on #440
At least it could be a first implementation :)

Still, is it possible to know if there's a way to donate to museeks, now that development became active again?

[2018-04-18 22:15] martpie opened #441 "Toggle sleep blocker only when music is playing"
Seems legit, but this is not the current implementation.

[2018-04-19 09:48] KeitIG commented on #438
I still get some errors with some files https://github.com/Borewit/music-metadata/issues/77

[2018-04-24 11:35] KeitIG commented on #438
Fixed in 0.9.4 :)

[2018-04-24 11:35] #438 closed

[2018-04-24 11:36] KeitIG commented on #424
I could not reproduce it lately with the latest versions of Museeks, can you?

[2018-04-24 11:56] vprigent commented on #424
I just tried it by resetting and doing an import, if I close the window or reduce it, the sync does not go on.
Tried on Macbook Pro mid 2012, OSX 10.12.6.
Museeks version : 0.9.4

[2018-04-24 11:59] KeitIG commented on #424
darn, thanks, I'll look at that more in details and how we can possibly fix it.

[2018-04-24 17:00] brachna opened #443 "Can't play songs with character '#' in filename"
Windows 8.1 64bit, Museeks 0.9.4

Related discussion in #438, same file

![error](https://user-images.githubusercontent.com/5756107/39202242-fdbcea02-47f9-11e8-98eb-689183401730.jpg)

[2018-04-24 19:29] KeitIG commented on #443
Hello :)

It has been fixed in master, but has not been released yet. I may need to create a patch release just with this fix.

[2018-04-25 10:09] KeitIG commented on #436
So I changed the eslint config so we start use `jsx-a11y`, it is quite funny to see it will achieve a good part of the goal of this issue when I will be done with all the errors and warnings.

[2018-04-29 20:03] lottanbettan commented on #423
Hi again :) Still longing for the tray icon to disappear in macOS :) Pleaaaaaaaase

[2018-04-29 22:02] KeitIG commented on #423
Can you open a separate issue for this? It's easier to keep track of things. :)

[2018-05-06 00:08] gen3vra opened #444 "Auto-update library contents."
If you add a song to the library it should update after some time in the music player.

[2018-05-06 04:58] GMR516 opened #445 "Save Sorted-By State"
If you choose to sort by Title, upon the next restart, it will be reset to sorting by Artist name instead. Please make it save this state.

[2018-05-06 07:59] KeitIG commented on #445
Hello :) should definitely be done indeed.

[2018-05-06 08:00] KeitIG commented on #444
Hello :)

I am not sure to understand what you mean here, can you elaborate ?

[2018-05-08 19:18] GMR516 commented on #444
Of course!

I regularly update my music library outside of Museeks. Once I add a song to my music folder, Museeks does not detect that I have new music. I have to delete my library and rescan in order to add the new songs to the library.

[2018-05-08 20:55] GMR516 commented on #444
Okay, I might try to implement it myself.

[2018-05-08 20:57] GMR516 opened #446 "Sort by date added."
You should be able to sort songs by date added. I think you can probably sort the songs by "recently modified" and that would be enough.

[2018-05-09 05:39] KeitIG commented on #444
Related to: https://github.com/KeitIG/museeks/issues/338, this would need to be done first.

This was how things worked before, but I rewrote the way files are imported. I would need to re-implement the old way while keeping the new UI.

Once this is fixed, we would just need to define a rule of “when to rescan”. Then boom, done.

[2018-05-09 06:00] KeitIG commented on #446
Pretty sure this is a duplicate of https://github.com/KeitIG/museeks/issues/401

[2018-05-09 06:00] #446 closed

[2018-05-10 21:54] lottanbettan opened #447 "Add an option to hide the tray icon"
Wishing the tray icon to disappear in macOS :)
Cheers!

[2018-05-10 21:54] lottanbettan commented on #423
Sure thing! #447
All the best.

[2018-05-11 08:00] KeitIG commented on #447
Here are a few thoughts to be considered:

- We should merge this with the existing Tray option
- I am not sure if it makes a lot of sense to have the Tray on Windows, I didn't see any other music player doing it
- I use tray quite a lot on macOS, an option to hide it is the way to go
- There are currently issues with Tray on Linux (at Electron-level), relying on Tray for user-behavior is not safe

[2018-05-12 17:58] Aaahh opened #448 "don't show duplicate songs in library"
So some song are appearing like 4 times, because I apparently have 4 copies of the same song. Could duplicates be hidden?

feature request

[2018-05-12 18:25] KeitIG commented on #448
The philosophy of a music player is one file = one track. Why do you have multiple times the same track? I’d like to understand the use case :)

[2018-05-19 17:29] monetschemist opened #449 "control / select output device from Audio tab"
On my Linux computer, I use a dedicated DAC for music playback.  I don't want any process other than my music player to get at that device.  PulseAudio can have the on-board sound card for whatever its clients want.  With several music players (gmusicplayer, quodlibet, guayadeque, gogglesmm, deadbeef, mpd) this is relatively simple to accomplish - those that use gstreamer can be configured to use

[2018-05-19 17:52] KeitIG commented on #449
This is a really interesting problem. I had no plan to add support for that, but after thoughts, I just realized the Discord has support for that.

Maybe there is an easy way to add support for input/output selection, without needing to write native code.

I’ll investigate.

[2018-05-19 19:03] KeitIG commented on #448
Do you know any other music player who act like you would like? Genuinely curious.

[2018-05-19 19:13] monetschemist commented on #449
Thanks for the quick response!  You might take a look at the specific way QuodLibit and guayadeque allow this kind of thing with gstreamer.

[2018-05-20 18:49] Aaahh commented on #448
Grove music player on android did I think, I know of one other on ubuntu that did it but i can't remeber

[2018-05-29 01:21] wilchak opened #451 "Error when trying to play ANY song"
Hi, I just installed Museeks (MacOS 10.13.4) and am having a problem. I added my music (all M4A Apple Lossless files), and when I try to double click to play a song in the main list (everything shows up fine...), I just immediately get the corner error popup "The track file could not be found. It may be due to a file move or an unmounted partition."

Of course, the files are still there (and click

[2018-05-29 10:32] KeitIG commented on #451
Hoy! Thank you for the report, is there at special character in the path of your file? `#`, `{` or others?

[2018-06-02 16:16] peppersblanket opened #452 "a multitude of items that I personal would add if I knew how to and where the developer"
I use Linux mint 18.1, with 16gb ddr3 a i7 4790 and a gtx 970 running with x server
it would be nice to see museeks as a player in Linux in the sound applet, you should make a custom GUI instead of using chromium as a base, that would be nice it would also fix the problem of lag when moving UI around on cinnamon when museeks is open, the affect is the same as chrome and chromium. the problem is fi

[2018-06-02 16:53] KeitIG commented on #452
Hello, thank you for all those ideas :)

For the Linux integration -> https://github.com/KeitIG/museeks/issues/93
For the album view -> #130

Those two will be done 100% at some point.

Not using Chromium as base is not for today, a lot of features depends on API provided by Electron, moving away from Electron would probably lead to a full rewrite of the app using tools/languages/framework I do no

[2018-06-04 21:50] lottanbettan commented on #447
An option to hide it would be the best! Or an option to show it, if it's hidden by default - which would be the very very best! :)

[2018-06-05 13:36] KeitIG commented on #451
Also, could you go in Settings -> Advanced -> Open dev tools and make a screenshot of the "console" tabs?

[2018-06-05 22:44] wilchak commented on #451
Nope, no special chars. Screenshot attached.
<img width="1334" alt="no go" src="https://user-images.githubusercontent.com/2185789/41006620-44de5bfc-68f0-11e8-9865-a2544bfc9d32.png">

[2018-06-06 07:01] KeitIG commented on #451
Thank you very much, it looks like a bug in the file location resolution. Can you send here the full path of one of those files? So I can reproduce it and submit a patch ASAP :)

Sorry for the inconvenience.

[2018-06-06 14:31] wilchak commented on #451
The full path of one of the files is.... /Volumes/RAID/Music/Albrecht
La'Brooy/Albrecht La'Brooy - Tidal River (2018) [WEB-FLAC]/1
Daybreak.m4a

On Wed, Jun 6, 2018, at 3:01 AM, Pierre de la Martinière wrote:

Links:

  1. https://github.com/KeitIG/museeks/issues/451#issuecomment-394962394
  2. https://github.com/notifications/unsubscribe-auth/ACFaPb7ZxzBbGskt5iP4XQB2lfs4epSCks5t535mgaJpZM4UQt1r

[2018-06-11 13:30] jdbevan opened #453 "Ctrl-click on macOS should not trigger a track selection"
macOS Sierra 10.12.6

It's hard to add lots of tracks to a playlist because they can only be adding one-by-one. Right-clicking on multiple selected items deselects all but the one track you right clicked on.

[2018-06-11 14:45] KeitIG commented on #453
You have multiple way to improve that:

- cmd+click should toggle a track for selection
- shift+click select all tracks between the last selection and the new one.

Tell we me if it helps :)

[2018-06-11 14:59] jdbevan commented on #453
Ah I just realized what I was doing.

I SHIFT+clicked several tracks and then CTRL+clicked on the selection because my mouse does not have a right click button.

The CTRL+click gets interpreted as a regular click instead of a right click.

[2018-06-11 15:02] KeitIG commented on #453
On Mac, should ctrl-click display the context-menu?

[2018-06-11 15:41] jdbevan commented on #453
Yes: https://support.apple.com/en-us/HT207700

[2018-06-11 15:49] KeitIG commented on #453
Then it's a bug, thank you for noticing it :)

[2018-06-13 09:24] guzzard commented on #413
@KeitIG tested today with 0.9.4 and the issues seem to be there still. Still seems like the whole file is read, and not only the id3-tag bytes.

[2018-06-13 09:51] KeitIG commented on #413
This is normal because we need that to get the song duration. I’ll try to investigate soon.

[2018-06-13 10:53] guzzard commented on #413
@KeitIG I thought you would change to `musicmetadata` and read the `TLEN` value from id3v2 as per your comment on the 9th of March?

[2018-06-13 11:21] KeitIG commented on #413
The problem is not all files use id3v2. I just need to wrap my head around, and we can most probably improve things a bit, but I really do not get the error you get.

[2018-06-17 06:48] codedcosmos commented on #431
Small Update: The media buttons work on the KDE plasma desktop but not gnome.

Unfortunately I have no idea why.

[2018-06-22 13:41] KeitIG commented on #453
Oh I see the problem, it should be easy to fix.

[2018-07-17 15:39] AjjuSingh opened #454 "Music does not stop after closing the app"

[2018-07-17 15:49] KeitIG commented on #454
Could you elaborate? What is your platform?

You can quit Museeks by right-clicking on the tray and cliquing “quit” :)

[2018-07-23 11:02] #454 closed

[2018-08-19 12:47] KeitIG opened #456 "Content Security Policy"
Since the latest Electron updates:

This warning will not show up once the app is packaged.

[2018-08-19 12:48] KeitIG commented on #366
Boom.

[2018-08-19 12:48] #366 closed

[2018-08-19 13:40] KeitIG commented on #456
Done e3bcac2

[2018-08-19 13:40] #456 closed

[2018-08-19 16:35] KeitIG commented on #445
Done in 4fa259f

Will be released in 0.10, hopefully soon.

[2018-08-19 16:35] #445 closed

[2018-08-19 17:50] martpie opened #457 "Re-think Tray, close behavior and frame"
I think the current way of closing the app on Window / Linux is bad UX. Also, the topbar does not bring anything (it was a workaround to add the minimize and the maximize buttons).

## Observations

### MacOS

- The current behavior is correct: closing the app actually "hides" it, to close the app, press cmd-Q or or right-click the dock + "Quit".
- The inner frame is great
- The tray is not that u

[2018-08-19 19:53] KeitIG commented on #457
Native frame is now used everywhere 22d7e28

[2018-08-19 20:51] #452 closed

[2018-08-19 21:04] KeitIG commented on #443
I'll release the next version soon, sorry for the delay

[2018-08-19 21:04] #443 closed

[2018-08-19 21:14] KeitIG commented on #451
I added a couple of fixes in the last months, I could not reproduce the bug with this filename/path. Hopefully I will do a new release soon.

[2018-08-19 21:15] #451 closed

[2018-08-19 21:16] KeitIG commented on #439
Thank you for the feature request, Museeks does not aim to have these kind of features soon (keep it minimal/functional).

I will close it for now.

[2018-08-19 21:16] #439 closed

[2018-08-19 21:34] KeitIG commented on #397
After some thoughts, I think it does not make sense, quitting the app should really reset its state.

[2018-08-19 23:01] KeitIG commented on #414
f0f2cfa519b72df0500505fc3686ee61e1f6af4e Improve library scan performances
38087714c9cb1d5ca523f8855b97a4442a36d187 Reduce the number of UI updates during scans
0e79cf6f807bd7d61fb00c5f3781db8d0672ad64 Add tracks to the library view during scan
9305dbdbfd7640f743791c76961a2d053040a37e Optimize tracks filtering

Museeks will now add tracks to the Library view every 100 file scans 🎉

[2018-08-19 23:07] KeitIG commented on #414
I am closing the issue for now, I won't implement the "Library information/stats" now as it may bring database schemes update and the feature does not seems _that_ needed.

Feel free to discuss it if you think the opposite, and I'll re-open it (or will open a separate issue)

[2018-08-19 23:07] #414 closed

[2018-08-19 23:10] #378 closed

[2018-08-19 23:26] KeitIG commented on #169
Build times are satisfying. HMR not there yet, maybe later in a separate issue.

[2018-08-19 23:26] #169 closed

[2018-08-19 23:43] KeitIG commented on #178
Fixed with an error boundary in 1c9395a

![screen shot 2018-08-20 at 01 41 42](https://user-images.githubusercontent.com/1311607/44314509-61b29a80-a41a-11e8-8944-9aeb069bad53.png)

[2018-08-19 23:43] #178 closed

[2018-08-20 21:19] KeitIG opened #458 "Changing volume mute it"
Due to a conflict with `onClick`, new since we moved to a range-slider.

[2018-08-21 21:00] KeitIG commented on #458
Fixed in 75bd1eba3c14c12ad9d1c10476e505d223f0326a

[2018-08-21 21:00] #458 closed

[2018-08-22 03:18] varlesh opened #459 "[Enhancement] Colors from GTK theme on Linux"
Maybe it's possible add support or option use system colors for application?
It's will be good looking on single style on OS...
or maybe option set custom colors:
![image](https://user-images.githubusercontent.com/8083855/44440927-62def580-a5db-11e8-8783-af434121709f.png)

[2018-08-22 07:18] KeitIG commented on #459
Hello 👋

I was thinking about adding support for choosing a primary color, but I have no idea how to apply a full theme as Museeks is not built on GTK.

Somewhat related to #162

[2018-08-22 07:27] KeitIG commented on #444
I was thinking about this problem recently: it kind of defeat the "remove from library" feature: a file previous scanned and removed may be automatically re-added later 🤔

Introducing a blacklist would add more problems (how or when to clear it?).

Adding the discussion label so people who want to participate can bring their ideas/points of view.

[2018-08-22 08:54] YurySolovyov commented on #444
1. Keep roots of imported directories in DB
2. Check already imported files are still there and clean them up otherwise
3. Scan roots for newly added files periodically/on-demand

2 and 3 need a good timing to kick in and preferably be performed in background not to sacrifice the UX

[2018-08-22 09:02] YurySolovyov commented on #448
Once/If we'll have a criteria to call N tracks "identical", I think it will be helpful to have a way to identify their location better somehow, so that people can understand where duplicates are coming from

[2018-08-22 09:06] YurySolovyov commented on #459
There are some [OS-specific APIs for getting theme-related info](https://electronjs.org/docs/api/system-preferences#methods), but nothing for Linux, so for that feature to be implemented, we need a Linux part of these to be implemented (where it makes sense).

[2018-08-23 16:13] GMR516 commented on #444
If it's not imperative that museeks keeps the "remove from library" feature, I propose possibly removing it. I'm not really thinking of a situation where someone has a folder full of music that they want to add to museeks but don't want specific files in there. Additionally, they could always make a folder just for museeks.

Otherwise, [this answer from stack overflow](https://stackoverflow.com/a/

[2018-08-24 09:45] KeitIG commented on #444
Yes indeed, it all makes sense. I will do some research to see how other players handle that.

[2018-08-25 22:35] Aaahh commented on #457
I mean the tray could be a fallback on linux installs that do not support mpris
Also, being able to close the window without stopping the music is very nice

[2018-08-30 11:43] nedkellddv opened #460 "Cannot start app - A JavaScript error occurred in the main process"
When I try to start either the AppImage or the deb file I get:

A JavaScript error occurred in the main process
Uncaught Exception:
TypeError: Error processing argument at index 0, conversion failure from #<Object>
    at /home/nedkelly/opt/Museeks/museeks-amd64/resources/app.asar/dist/main/bundle.js:1:20947
    at App.<anonymous> (/home/nedkelly/opt/Museeks/museeks-amd64/resources/app.asar/dist/m

[2018-08-30 12:56] KeitIG commented on #460
Hello @nedkellddv,

I just tested Museeks 0.10 on KDE Neon (AppImage 64bits), it works well, can you give me more informations regarding your distro, which version of Museeks you used and the 32/64 bits version? :)

[2018-09-04 06:50] KeitIG commented on #146
0.10 has been released, and this feature _looks_ quite simple. Will do next.

[2018-09-04 11:07] KeitIG commented on #146
@kellertobias @BlueManCZ Would you like a "export playlist to m3u" feature too?

[2018-09-04 11:39] kellertobias commented on #146
At the moment, I am using this player to play playlists that re exported from my main music player. So it is not necessary.

If it helps, I can provide a sample playlist.

[2018-09-06 12:17] joshbedo commented on #460
Just had the same issue on mac was wondering if the app is broken

[2018-09-06 13:12] martpie commented on #460
@joshbedo Any reason why you are not using the DMG? Does it happen with it too?

If you use the advanced build way, can you make sure your branch is not outdated? Can you delete the directory, re-clone and re-build the app?

I may have an idea of what is causing it, but I forced-push against the commit introducing this bug (yes, on master, bad me)

[2018-09-06 13:22] martpie opened #461 "Software is shown as Proprietary when installing Museeks with Ubuntu's Software"
![screen shot 2018-09-06 at 15 21 22](https://user-images.githubusercontent.com/1311607/45160013-a1ce9700-b1e8-11e8-9316-442eabc58f86.png)

[2018-09-06 15:03] martpie commented on #377
@vprigent Can you reproduce this bug?

[2018-09-06 21:48] nedkellddv commented on #460
well I do not know if it has something to do with different Linux (Mint) versions?

[2018-09-06 22:31] martpie commented on #460
@nedkellddv Did you install the 32 or the 64 bits? And which version did you use?

[2018-09-07 02:49] codedcosmos commented on #460
This issue is also happening for me on Ubuntu 18.04 64 bit deb install:

### A JavaScript error occured in the main process

[code]

[2018-09-07 04:03] vprigent commented on #377
I just tried using the first music folder I could find with special chars,
`[Indie Rock] The Kooks - Listen [Deluxe Edition] 2014 (Jamal The Moroccan)`
Does hang on import. I have imported the Music folder containing folders with specific chars as the one above, files from these folders are correctly being imported.

I'll try again on Linux tonight, these are for Museeks 0.10 on macOS Sierra

[2018-09-07 06:51] martpie commented on #460
Thank you for all the reports,

I rebuilt the app here: https://drive.google.com/open?id=1HveA5VH7Q41DC4-bvVRAph7SctX1RBr3

could you try to download your corresponding package and tell me if you encounter the same problem?

[2018-09-07 06:53] martpie commented on #460
https://github.com/electron/electron/issues/7657 this is interesting, but it does not explain why I don't get this error on fresh installs of Ubuntu

[2018-09-07 07:03] codedcosmos commented on #460
Tried installing it (without uninstalling it), then tried again (after uninstalling museeks) the issue (for me at least) still persists. I will try a reboot and see if anything changes.

[2018-09-07 10:00] vprigent commented on #424
Could not reproduce on Ubuntu 18.04 :+1:

[2018-09-07 11:34] martpie commented on #424
Let's close it and re-open it if needed then :)

[2018-09-07 11:34] #424 closed

[2018-09-07 12:03] martpie commented on #460
Found the error, working on a hotfix right now

[2018-09-07 12:19] martpie commented on #460
@codedcosmos Can you apply what is there: https://github.com/martpie/museeks#troubleshooting and tell me if you can reproduce it?

[2018-09-07 13:05] martpie commented on #460
Can you guys confirm that this version works for you? https://drive.google.com/drive/folders/1n003sLkjz4_4NZ4ecXFgrh3TmifXJ7Za?usp=sharing

[2018-09-07 22:00] codedcosmos commented on #460
The newer build works for me. (Ubuntu 18.04 almost fresh install (installed 2 days ago))

[2018-09-08 08:35] martpie commented on #460
Thank you for helping me debug that pesky bug :)

0.10.1 released

[2018-09-08 08:35] #460 closed

[2018-09-10 14:41] nedkellddv commented on #460
Hi

Thanks for making this app, and for fixing this bug :)

0.10.1 amd_deb64 and Appimage64 works on Linux Mint 17.3 as well

[2018-09-12 08:27] martpie commented on #431
After some investigation, it looks really similar to https://github.com/electron/electron/issues/10159, I plan to integrate mpris soon (https://github.com/martpie/museeks/issues/93 one of the oldest issues), like for the next release.

Let's see if it fixes this problem!

[2018-09-28 00:43] Aaahh opened #462 "website download links old"
still point to 0.9.4

[2018-09-28 06:17] martpie commented on #462
Can you elaborate please? The download links look correct to me on `https://useeks.io`

[2018-09-29 20:09] martpie opened #463 "A "#" in the filename prevent music to be played on Windows"
self-explanatory.

[2018-10-02 10:29] #462 closed

[2018-10-24 13:41] felixding commented on #231
Can you please add last.fm integration to Museeks? This really is a deal breaker for a long-time last.fm user like me.

[2018-10-24 15:08] simonv3 commented on #231
@martpie that's right, just the scrobbling. I dunno, it's a self-tracking thing I guess.

[2018-10-24 15:38] martpie commented on #231
Ok, with the latest refactoring on the main process, it should not be too hard to implement in a nice and clean way. This received enough +1 so I am willing to implement it :)

Let's code!

[2018-10-24 15:40] balzabalza commented on #231
Thank you :)

[2018-10-25 04:06] felixding commented on #231
Yes. Just the scrobbling.

Thank you. Looking forward to the new version.

Fingers crossed.

[2018-10-30 09:39] meradoou commented on #231
thank you

[2018-12-09 12:28] JAYRANRAIN opened #464 "Pause music on headphone unplug"
I really like the playback software you designed, it has been used for half a year. But today I noticed a problem in the process of using it.
I hope that you can add a function, that is, when listening to music with headphones, if you remove the headphones, the music can stop playing.

[2018-12-09 19:43] martpie commented on #464
Thank you for the feedback. Out of curiosity, do you know any other music player that integrates this feature?

[2018-12-13 21:57] DennisDray opened #465 "touchscreen controls"
the volume control button needs to be tapped to show volume slider
which mutes sound
so need to press again to unmute
moreover, once the slider appears, the control buttons stay gone

best is to put the slider in place of the mute button

[2018-12-13 22:11] DennisDray opened #466 "hotkeys"
the keyboard play/pause, next/ previous buttons should control the player
also, a panel indicator with those controls would be great, like panflute had it back in the day
handy when your laptop is in tablet mode

[2018-12-13 23:35] martpie commented on #465
Never thought about touchscreen, thank your for the feedback.

I’ll try to think about a solution for that.

[2018-12-13 23:37] martpie commented on #466
Playback hotkeys should be working. What is the laptop/PC you are using?

I don’t get the panel indicator thing, so you have a screenshot or more details for me please?

[2018-12-15 05:44] martpie commented on #466
Let’s assume it’s a duplicate of
https://github.com/martpie/museeks/issues/431.

Feel free to contest.

[2018-12-15 05:44] #466 closed

[2018-12-15 13:36] JAYRANRAIN commented on #464
Indeed, many music players are unplugged and have sound  on linux. I am currently using elementary os 5.0 juno, I tried the music player that comes with this system, when it is unplugged, it automatically stops playing (I haven't used it to tell you the truth).

[2018-12-15 19:42] martpie commented on #464
Electron does not provide an API to detect this change, so I cannot so much today. It is also less trivial than it looks: Bluetooth headphones should behave the same too.

To me, this is a is-level problem, and not an app-problem. Let’s see how this evolves.

[2018-12-19 16:33] martpie commented on #162
For those still interested, I am refactoring (rebuilding to be more precise) the app styles.

With the new system, themes should be quite easy to implement, and only with CSS variables.

[2018-12-20 20:02] martpie commented on #87
This issue will become obsolete after the stylesheets refactoring. Its main purpose what for theming, but switching to CSS variables will solve this problem.

[2018-12-21 07:20] puranjayjain commented on #87
Agreed, after changing to css variables it seems we might not required sass compilation at all. Nice work 👍

[2019-02-03 04:29] irfanfadilah opened #467 "Import/Export Playlist Files"
I'm using dual-boot OS, Ubuntu and Windows. Managing playlist on different OS and music player is annoying, then I came to this music player.  *The music files are in same location on both OS.

Is there anyway I can export playlist file and import it? I saw there's some folders in config directory. Can I just copy files containing playlist data and paste it on different Museeks instance in other O

[2019-02-03 09:57] martpie commented on #467
Simple answer: no (for now)

So the thing is tracksarestoredin a DB, and tracksIDs may be different on your different OS, so we cannot know "which track is the same".

That said, I think an m3u import/export feature with relative paths could resolve your issue in a quite elegant way.

See https://github.com/martpie/museeks/issues/146

(I would love to work on this feature next, but I'm a bit busy

[2019-02-03 09:58] #467 closed

[2019-02-16 17:01] #87 closed

[2019-02-17 23:40] martpie opened #468 "Hovering the progress part of the playing bar show the tooltip at a wrong location"

[2019-02-18 22:20] #398 closed

[2019-02-18 22:20] #468 closed

[2019-02-19 09:47] #437 closed

[2019-02-19 09:54] martpie commented on #431
This seemed to have been fixed in Electron 3.0.2. So it should be fixed in the next releast.

[2019-02-19 09:54] #431 closed

[2019-02-19 21:45] martpie commented on #453
Fixed in ead5ce0

[2019-02-19 21:45] #453 closed

[2019-02-19 22:40] martpie commented on #441
Fixed in d3c7afb

[2019-02-19 22:40] #441 closed

[2019-02-21 18:07] YurySolovyov commented on #93
[`node-dbus-next`](https://github.com/acrisci/node-dbus-next) (pure JS) has [MPRIS media player example](https://github.com/acrisci/node-dbus-next/blob/master/examples/mpris.js) that might be of use.

[2019-02-26 08:46] martpie commented on #175
FINALLY #470

[2019-02-26 17:54] #175 closed

[2019-02-28 11:36] martpie commented on #146
I am currently working on this feature. I am getting one problem which is parsing these m3u files. Node.js cannot guess the encoding of a file, and package such as `chardent` gives wrong results...

I will have to figure out a way to guess the encoding of a `.m3u` correctly, or assume that all `.m3u` files are `URF-8` encoded... :/

[2019-02-28 14:22] kellertobias commented on #146
You could ask the user on upload/ in the settings, which encoding the files will have.

[2019-02-28 15:35] martpie commented on #146
Not really user-friendly ;) but I think I found a good technical solution

[2019-02-28 17:52] martpie opened #471 "Duplicate playlists"

[2019-02-28 18:43] martpie commented on #146
Got some good news.

![ezgif-1-7ba63631291f](https://user-images.githubusercontent.com/1311607/53589976-07488280-3b91-11e9-9f17-7bb56dcff90a.gif)

[2019-03-01 11:26] martpie commented on #146
Done. I will gladly receive your feedback once it's release. I can also send you guys a pre-release so you can test it if you want.

[2019-03-01 11:26] #146 closed

[2019-03-01 11:50] #471 closed

[2019-03-01 23:58] igorer88 commented on #93
Working on it ;)

[2019-03-03 01:15] igorer88 commented on #308
How about web scrappers? We could scrap some pages and get the lyrics from there.

[2019-03-03 04:18] igorer88 commented on #457
The Linux user should elect to activate the tray or not.

[2019-03-03 05:36] igorer88 commented on #101
[node-id3](https://www.npmjs.com/package/node-id3)
[id3-parser](https://www.npmjs.com/package/id3-parser) (in TS)
[ffmetadata](https://www.npmjs.com/package/ffmetadata) (needs ffmpeg)
[musicmetadata](https://github.com/leetreveil/musicmetadata) (I don't like it)
[browser-id3-writer](https://github.com/egoroof/browser-id3-writer)

There are several other libs. But I like node-id3.

[2019-03-03 05:58] igorer88 commented on #137
I can help with the Spanish translation :)

[2019-03-03 06:10] igorer88 commented on #162
Only with CSS variables? What about sass? @martpie

[2019-03-03 06:16] igorer88 commented on #130
The album's list should able to be ordered by released year.

[2019-03-03 06:27] igorer88 commented on #452
Maybe adding on file's context menu a properties option, would show all properties, including the file type. It helps when we have multiples version of the same song added on the library and we want to delete a specific one. (Happened to me with FLAC files which I converted to mp3)

[2019-03-03 06:37] igorer88 commented on #194
Maybe with mpris module implemented  @fosspill could test if the i3 status bar can fetch the current track from mpris.

[2019-03-03 07:30] martpie commented on #162
Sass was used before. CSS variables can be changed at runtime, Sass variables only at build time.

This means using Sass for themes is complex: itneeds to be compiled to CSS, stored on drive, it takes time and is not user-friendly.

With thre refactoring, the themes are just JSON files declaring CSS variables, which make them easy to write and parse, in exchange of the number of things that can be

[2019-03-03 07:32] martpie commented on #452
There is already an option to locate a file in your file explorer, I think it covers 99% of the usecases.

[2019-03-03 07:33] martpie commented on #457
And so do all users for all platforms. It should not be too hard to implement and there is a certain demand for this feature, so I'll implement it.

[2019-03-03 07:39] martpie commented on #101
There is more to this question. It is not only about the feasibility of the feature:

- Is Museeks a music player or a library manager? For now, it is the former only
- If we decide to implement it, how to design it properly? (talking about UX and visual design here)

[2019-03-03 10:25] martpie commented on #377
Reproducible, blocker for 0.11.

On it right now.

[2019-03-03 12:27] martpie commented on #377
I fixed the infinite loading, but I cannot fix the search not happening in those folders yet.

- https://github.com/sindresorhus/globby/issues/81
- https://github.com/mrmlnc/fast-glob/issues/158

[2019-03-03 13:58] martpie commented on #31
https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/audioTracks

Trough an experimental flag though :/

[2019-03-03 14:03] martpie commented on #449
@monetschemist If I implemented it, could you test it?

[2019-03-03 15:26] martpie commented on #449
Implemented, I will test it tonight.

[2019-03-03 15:36] monetschemist commented on #449
Ok, let me know when you're ready for me to try it out!

On Sun., Mar. 3, 2019, 07:26 Pierre de la Martinière, <
notifications@github.com> wrote:

[2019-03-03 16:06] martpie commented on #449
Well, I was just able to switch from my bluetooth headset to the internal speakers in one-click 🎉

It will be released early next week :)

[2019-03-03 16:06] #449 closed

[2019-03-03 16:28] monetschemist commented on #449
Sounds very good! And it's able to bypass Pulse and go directly to ALSA?
(To avoid Pulse resampling)

On Sun., Mar. 3, 2019, 08:06 Pierre de la Martinière, <
notifications@github.com> wrote:

[2019-03-03 16:42] martpie commented on #449
If Alsa is an output device, then it should bel listed there. I will build the app so you can test it

[2019-03-03 16:45] monetschemist commented on #449
I'm at your service for testing!

On Sun., Mar. 3, 2019, 08:42 Pierre de la Martinière, <
notifications@github.com> wrote:

[2019-03-03 17:21] igorer88 commented on #452
But if we're going to integrate metadata editing is something that can be added, is simple and complements the metadata. Some songs can't have their metadata edited (Don't know why) maybe would help if the file type is there.

[2019-03-03 17:23] igorer88 commented on #162
Didn't know that :+1:

[2019-03-03 17:35] igorer88 commented on #101
- Well, since is something that Linux lacks, I (personally) would like to do it both. But we could focus on the player feature for now.

- Maybe we could open another smaller window. But there are two approaches here:
  - On one way we could manage a single song metadata
  - On the other way, we could manage the metadata for the selected song, and add the ability of change several files as selecte

[2019-03-03 22:19] martpie commented on #449
Right here: https://drive.google.com/drive/folders/1BvZO-yJmdz3NReZja40jJe6W4rE3oI8g?usp=sharing

[2019-03-04 03:02] monetschemist commented on #449
Ok, tomorrow! (my west-coast time zone PST).  Very exciting!!!

Alors, Pierre, on peut communiquer en français si tu veux...

On Sun, Mar 3, 2019 at 2:19 PM Pierre de la Martinière <
notifications@github.com> wrote:

--
Chris Hermansen · clhermansen "at" gmail "dot" com

C'est ma façon de parler.

[2019-03-04 12:40] martpie commented on #449
I figured out the bug for the DEB package and uploaded new binaries :)

ps: cocorico 🇫🇷

[2019-03-04 16:53] monetschemist commented on #449
Heh bonjour!

Well it installed easily, but I think you must still be using Pulse Audio?
Here are my devices, according to ALSA:

clh@marseille:~/Downloads$ sudo aplay -l
**** List of PLAYBACK Hardware Devices ****
card 0: PCH [HDA Intel PCH], device 0: ALC269VC Analog [ALC269VC Analog]
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 0: PCH [HDA Intel PCH], device 3: HDMI 0 [HDMI 0]
  Subdevic

[2019-03-04 16:57] monetschemist commented on #449
Hmm I should add that the reason I don't use Pulse Audio is that it doesn't
handle varying sample rates / bit depths well.  It wants to establish a
baseline value and convert anything different to those values.  This
totally throws out all the careful engineering in the DAC - for instance,
if you pick a baseline of 96/24, resampling 44.1 to 96 is awkward.  Most
high quality DACs run two clocks, on

[2019-03-05 10:10] martpie commented on #447
Will do for next release.

[2019-03-08 09:52] codedcosmos commented on #130
I have been thinking about this for a while.

In terms of artists and albums views and actually going to the views, why not just make the area where you select it at the bottom left. Where the gear, playlists and track lists are. I think adding albums and artists there as well would be logical and would not require implementing a drop down.

It would be cool to see the name and album art for an al

[2019-03-10 21:28] martpie commented on #154
Just got this error when testing stuff; this may be a problem for the implementation of this feature:

[code]

[2019-03-10 21:35] martpie commented on #154
Fixed by `app.commandLine.appendSwitch('autoplay-policy', 'no-user-gesture-required');`

[2019-03-13 16:16] martpie commented on #93
elementary os (Ubuntu 16.04) stack trace

[code]

[2019-03-13 16:29] martpie commented on #93
@acrisci Any idea what could go wrong here? When editing the module directly and forcing it to be `'unix:path=/var/run/dbus/system_bus_socket'`, other errors are thrown.

[2019-03-13 17:08] acrisci commented on #93
You should be running this on the session bus which for me is at `/run/user/$UID/bus`.

The dbus library *should* be reading the `DBUS_SESSION_BUS_ADDRESS` environment variable for the path of the session bus.

[code]

I'm looking at the code for dbus-next and it might not actually be doing that. It might just be trying to read it from the x11 property, but I need to look into that.

If you're run

[2019-03-13 17:45] acrisci commented on #93
I looked into dbus-next and confirmed it is reading `DBUS_SESSION_BUS_ADDRESS` for the session bus address. You will get this error only when that environment variable is not set.

None of the X11 code is working, so that's pretty much the only way to specify the bus address right now.

The session manager should be starting dbus (like with `dbus-launch`) to start the bus and setting those variabl

[2019-03-13 18:33] martpie commented on #93
thanks; I'll investigate on my side why they are not set!

[2019-03-13 22:46] igorer88 commented on #93
@acrisci Mint 19.1 is based on Ubuntu 18.04. So if it works there, it should work in here too. I agree with you on fixing dbus-next X11 would solve the problem.

[2019-03-14 00:00] acrisci commented on #93
I did a detailed writeup on the issue on dbus-next [here](https://github.com/acrisci/node-dbus-next/issues/14).

[2019-03-14 14:31] martpie commented on #447
On macOS, the tray will now always be disabled.

**explanations: ** the default behavior when closing an app on macOS is to hide the window, but the app is still theoretically running. Which is exactly the problem the tray was trying to solve. Therefore, the tray is not needed as the dock icon fulfill the same role. (node: you can also control the playback from the dock icon).

[2019-03-14 21:55] martpie commented on #463
Fixed in a3c862f291e7d1e6741851cd8abd725ea78c114b

[2019-03-14 21:55] #463 closed

[2019-03-14 21:59] #447 closed

[2019-03-25 09:50] martpie commented on #457
The tray is now only showed when the window is hidden. An option was added to the dock menu to force-quit the app in case of tray not working in for some DE.

When mpris will be working, I will need to add an option to fully disable the tray, to avoid a duplicate icon in the topbar on Linux.

[2019-03-25 09:50] #457 closed

[2019-03-26 12:47] martpie commented on #93
With `dbus-next@0.4.1`, the error is a bit more precise:

[code]

(Ubuntu 18.04.2)

[2019-03-26 12:59] acrisci commented on #93
I've run the mpris-service integration test suite on stock Ubuntu 18.04 and it works fine. Both the `DISPLAY` environment variable is set and the session manager sets `DBUS_SESSION_BUS_ADDRESS`.

Can you give me some more info on your setup so I can try to reproduce the issue?

[2019-03-26 14:44] martpie commented on #93
Ah, interesting thing, I am running the Communitheme session. Let me try with the default one.

[2019-03-26 14:46] martpie commented on #93
Mmh getting the same with the classic session, let me try with a fresh install.

[2019-03-26 15:59] martpie commented on #93
Getting the same issue on a fresh install. I guess there is a problem with the environment variables then. Maybe Wepback is doing something nasty.

I am now trying to not bundle `node-dbus-next` so it is called from node_modules.

[2019-03-26 16:03] martpie commented on #93
@acrisci How do you usually get the `DISPLAY` environment variable with Node.js?

[2019-03-26 16:41] martpie commented on #93
ok, `process.env` is returning all the good results when asking the `node` prompt. I think Wepback or Electron is somewhat sanitizing these variables at build/runtime.

I need to find a way to let these variables be accessible at runtime

[2019-03-27 14:59] martpie commented on #93
BAM! Now `mpris-service` needs an update, but I guess we're almost good to go.

<img width="807" alt="Screen Shot 2019-03-27 at 15 56 30" src="https://user-images.githubusercontent.com/1311607/55086587-f5330480-50a8-11e9-972c-1b840d7ee17b.png">

The problem was indeed Webpack, and more specifically the `DefinePlugin`:

[code]

Would replace all `process.env` by the provided object in the bundle.

[2019-03-27 15:41] martpie commented on #93
Et voilà. A couple of bugfixes to do and I guess we're good.

![Screen Shot 2019-03-27 at 16 39 33](https://user-images.githubusercontent.com/1311607/55090292-257da180-50af-11e9-8f9a-f1b042dd82f2.png)

[2019-03-27 16:36] martpie commented on #93
Closed by #477 🎉

Base64 covers are not supported, but I guess it's fine for now.

[2019-03-27 16:36] #93 closed

[2019-03-27 21:27] igorer88 commented on #93
Wow!! Excelent!! :+1:

[2019-03-30 22:45] igorer88 commented on #457
If anyone has a Gnome 3 DE (like Ubuntu uses) please just open Rhythmbox play something and close it. How does it behave? It closes right away? or it continues playing?

I do have Cinnamon 4 (I'm using Linux Mint) so it includes a closing button. So I can't test that feature. In Cinnamon, Rhythmbox keeps playing the song with the app closed.

When I was integrating mpris-services it worked perfect

[2019-03-31 05:23] Aaahh commented on #457
Yeah so the music keeps going and rhythmbox just minimizes to the calendar
drop down

On Sat, Mar 30, 2019 at 6:45 PM Igor Escalona <notifications@github.com>
wrote:

[2019-03-31 05:40] igorer88 commented on #457
Ok, and it doesn't have a close button? Or it has to be open and then stopped in order to close the app?

[2019-03-31 14:23] Aaahh commented on #457
Opened to close

On Sun, Mar 31, 2019 at 1:40 AM Igor Escalona <notifications@github.com>
wrote:

[2019-04-03 10:01] YurySolovyov commented on #416
I think this is an issue again. At least on Ubuntu 18.04

[2019-04-03 10:07] YurySolovyov opened #479 "When minimize to tray setting is active, opening/closing the app causes multiple instances of tray icon to appear"
OS: Ubuntu 18.04
Extensions:
![image](https://user-images.githubusercontent.com/2168518/55470946-61fe4f80-5611-11e9-9a33-defd503d09f4.png)
Tray:
![image](https://user-images.githubusercontent.com/2168518/55470841-1ea3e100-5611-11e9-993b-d6a8105f3b7b.png)
Where only the leftmost is actually responding to actions.

[2019-04-03 15:57] martpie commented on #479
mmmh could there be something wrong here? https://github.com/martpie/museeks/blob/master/src/main/modules/tray.ts#L159-L165

[2019-04-03 15:59] martpie commented on #416
I cannot reproduce it on macos, I'll check on Ubuntu

[2019-04-03 18:33] YurySolovyov commented on #479
Dunno, I wish there was `.ensure` method...

[2019-04-04 02:46] igorer88 commented on #479
What happens when you restart gnome? (I think that the manager is called gnome-shell)
They're still present?

[2019-04-18 18:13] stax76 opened #480 "sort to most recently added tracks"
Hi,

I've programmed a windows video player called mpv.net in the last two years and I'm looking for a new project now in order to learn a new programming language. I'm watching a lot of TV shows and listen a lot to music so video and audio playback software is the software I'm using the most often and I've the most interest in.

Typescript is on the list of languages I want to learn and I also wa

[2019-04-23 16:35] martpie commented on #480
Hello 👋

It goes a little bit in direction of #440. #401 would solve it as well; I will close it as duplicate :)

[2019-04-23 16:35] #480 closed

[2019-04-24 05:46] nrudnyk opened #481 "Section when you library divided by folders or filter library by folder, to easily navigate"

[2019-04-24 06:55] martpie commented on #481
I will need to understand your usecase more in detail to understand your actual need 😄

How do you usually use a music player?

[2019-04-24 07:42] nrudnyk commented on #481
I don't want to create playlists, because I've already sorted music out locally, and could easily filter albums\artists by folder.
So imagine, feed all your music library to the app, and later, you can select one folder from the hierarchy, and only tracks from that folder and it's subfolders will be visible in the (as of now) library view. E.g, you have
music
---artist#1
------album#1
------album#

[2019-04-27 17:26] aDogCalledSpot opened #482 "Empty imported m3u playlists"
I have some playlists I would like to import. Some lines seem to cause the import to fail. When it fails, the playlist is created but no songs are added (not even the ones that don't cause issues), I don't get any output in the terminal when running from it. I cannot tell what is causing this behavior since similarly complex file paths can either cause the issue or not.

Creating the playlist test

[2019-04-27 20:26] aDogCalledSpot opened #483 "KDE Tray Icon Disappears if Pinned and Not Running"
Running from AppImage.

I pinned Museeks to the tray and the icon is there while the program is running but when the program is closed the icon disappears and the default placeholder is there instead.

[2019-04-27 21:22] martpie commented on #483
This is an intentional behavior, we unfortunately cannot show yet the MPRIS indicatior when the app is closed.

[2019-04-27 21:22] #483 closed

[2019-05-12 14:52] rhysperry111 commented on #464
I don't know much about electron but it is relatively easy to detect headphone actions. Whenever headphones are unplugged/plugged most modern devices send out an ACPI call. As i am not a developer i am not sure how easy it would be for your app to access ACPI calls.

[2019-05-12 15:08] martpie commented on #464
The problem is we need to support 3 platforms, not only Linux.

[2019-05-12 15:12] martpie commented on #464
Plus, I stick with my belief that this should be an OS feature, and music players should not have to worry about this kind of things: the os should either set the volume to 0 or send a global play/pause event.

[2019-05-20 10:55] #482 closed

[2019-05-25 12:05] pjebs opened #487 "Feature request: Prevent laptop from sleeping"
1. I was wondering what library you were using to play the sounds.
2. I was wondering if a setting could be made to play sounds by preventing laptop from sleeping:
https://github.com/newmarcel/KeepingYouAwake
https://github.com/iccir/Fermata

[2019-05-25 13:18] martpie commented on #487
This software being based on Electron, the library used to play sounds is different for each operating system (win, mac, lin)

[2019-05-25 13:45] pjebs commented on #487
Can you tell me where in the code you dou play music and disable sleep?

[2019-05-25 16:49] martpie commented on #487
https://github.com/martpie/museeks/blob/master/src/ui/lib/player.ts

https://github.com/martpie/museeks/blob/master/src/main/modules/sleep-blocker.ts

[2019-05-27 20:38] DrEVILish opened #488 "Feature Request: PLEX Music Library as Source"
This is a long shot.
I have been getting hacked off with iTunes and have just migrated my library to Plex. Syncs great to my phone and all that Jazz but lacking in the Playlist making facilities and the desktop offline Sync.

I was slowly writing up a list of features I'd like a Music player to have, iTunes interface, simple easy simple.

Came across your project. Looks Simple and elegant. Perfect

[2019-05-30 09:26] DrEVILish opened #489 "Shift + Down Arrow - Select"
Shift + Down Arrow should select the current track and the track below it and so on for as many presses of the down arrow.

Prioritise keyboard shortcuts over mouse clicks. 💃

[2019-05-30 09:32] martpie commented on #489
Should not be too hard to implement and looks like a default in a lot of file exporers, let's do this then!

[2019-05-30 09:51] DrEVILish commented on #324
Look into the Broadcast address which is part of the IP spec. I think this is how it works, I might be wrong.

We could have as Museeks opens it broadcasts a "HELLO" packet with some relevant information about itself on the Broadcast address. If it's the first one no one will hear it. (Tree Fall Woods)
If there is another app open on the network, it will receive the "HELLO" and send a "REPLY" with

[2019-05-30 09:59] DrEVILish commented on #31
Could you not have an array
`var nowPlaying = ['previous','current','next']`
of which you can
`nowPlaying.shift()` the first element out, once the current song has finished playing.
`nowPlaying.push(nextTrack) `the next song to play onto the end of the array.

This should always leave the previous track as nowPlaying[0], Current playing as nowPlaying[1] and next track nowPlaying[2].

probably won'

[2019-05-30 10:09] DrEVILish commented on #338
The Library management page should contain a list of Folders that have been added to the "Library"
Next to each of the folders should have a "Refresh Icon", and "Trash Can".

Add a condition to the current addFunction that you can't add subFolders of an existing folder item to the Library.

"Trash Can" removes any items from the Library that are contained within this Folder.

"Refresh Icon" perfor

[2019-05-30 10:28] martpie commented on #31
I tried it, the result is unfortunately the same, there's still a mini-gap :(

[2019-05-30 13:12] DrEVILish commented on #31
I'd not realised the mini-gap before :( just played War of the Worlds and there it was...

[2019-05-30 13:16] DrEVILish commented on #31
A gapless JavaScript/CSS audio player for HTML5

**PROBLEM**: There are 2 modern APIs for playing audio through the web, and both of them have problems:

- **HTML5 Audio**: the last chunk of audio gets cut off, making gapless transitions impossible
- **WebAudio**: can't play a file until it's fully loaded

**SOLUTION**: Use both!

- If WebAudio hasn't fully loaded yet, it begins playback with HTML

[2019-05-30 13:49] DrEVILish commented on #31
Just tested this in chrome and the gap is still there but it's a lot lot smaller.
It still does this weird click.

[2019-06-19 21:16] b3u commented on #137
I can do hebrew translations

[2019-06-19 21:24] b3u commented on #130
Genre view could be useful.

[2019-06-20 00:15] DrEVILish commented on #31
This project looks interesting:
https://github.com/astoeckel/opus_gapless/
which is bundled into
https://github.com/astoeckel/http_audio_server

It currently triggers an FFmpeg process upon a single audio file and streams it into OPUS blocks.

https://somweyr.de/opus/demo.html -> Demo of actual different tracks being played back gaplessly.

[2019-06-27 22:29] OpWinterStorm opened #492 "Suggestion: Easy Way to Tell What Song Is Playing on Computer"
Hey, just downloaded this recently, it seems like a very nice music player!  One suggestion I have is to make a way to easily tell what song is playing without opening the player.  I've seen a few apps do this a few different ways; either by having a banner appear somewhere on the screen when the song changes, by showing what song is playing when the volume changes, or letting the user hover the m

[2019-06-30 15:33] linsui opened #493 "checksum"
Could you please add checksum for the release?

[2019-06-30 16:38] martpie commented on #493
Should the checksum be run against the whole file? I don't have a lot of experience with those

[2019-06-30 16:49] linsui commented on #493
Sorry, I don't know how to do... Just hash of each installer is enough. Thanks!

[2019-07-04 13:35] jdbevan opened #494 "New playlists dont show tracks until renamed"
macOS Mojave v10.14.5

Museeks 0.11.0

I can reproducably select some tracks, right click, create new playlist, then navigate to the playlist and no tracks are displayed. Once I've right clicked on the playlist name and renamed it, then the tracks appear. The recording below contains a word in the search box in the top-right which I thought might be the source of the bug, but I see the same behavi

[2019-07-04 14:25] martpie commented on #494
Oh oh :see_no_evil: let me try to reproduce it

[2019-07-08 18:56] MrDoctorKovacic opened #495 "Suggestion: Double clicking playlist starts playing"
Great work, this app is beautiful and handles my 10K+ song library with no issues. Has become my goto Linux music player!

Small QOL change, could we make it so double clicking a playlist in the sidebar will start playing it? This feature is present in iTunes on MacOS.

I'll take a swing at adding it myself, but wanted to put it on the radar. Thanks!

[2019-07-08 19:35] martpie commented on #495
Makes sense and should not be too hard to implement, I'll have a look!

[2019-07-13 13:42] martpie commented on #489
Done in https://github.com/martpie/museeks/pull/497

[2019-07-13 16:44] MrDoctorKovacic commented on #492
Hi, have you tried Settings > Interface > Display Notifications ?

[2019-07-16 06:23] igorer88 commented on #493
Yes, @martpie just get the hash from each package. MD5, and/or SHA-1 would be enough.

[2019-07-16 06:42] linsui commented on #493
I prefer to get sha256/512 because sha1 is not safe anymore. You can calculate them with 7-zip, but I guess there are some better way to calculate checksum automatically when build.

[2019-07-16 07:02] martpie commented on #493
Related: build binaries on CI. I don't see myself doing this error prone / manual work every release 🤔

[2019-07-16 09:19] linsui commented on #493
Found an example, may help. https://github.com/VSCodium/vscodium/pull/120/commits/33bc3b2f8be18a2fe426fab9769bacf6f916d2a2

[2019-07-17 21:36] Fantoom opened #501 "Suggestion: Some suggestions"
Hi! , I liked your app, and it will be better if you will add these features.

1. Add temp scaling (to nightcore all music).
2. Add auto-created folder-based playlists.
3. Add some small control bar when you hovering on the icon in the taskbar.
4. Add an option in setting to resize fonts.

[2019-07-17 21:55] OpWinterStorm commented on #492
Yes, I have that box checked, but when the song changes or I change the volume it doesn't show anything.  What event should cause the song to pop up?

[2019-07-17 22:21] martpie commented on #492
What is your OS?

[2019-07-19 11:57] igorer88 commented on #501
I like the 4th one and it doesn't seem difficult. I could research on that.

[2019-07-19 12:06] martpie commented on #501
What do you mean?

This is not doable as it highly depends on your folder structure. My library is sorted by artists > albums. I don't want one playlist created for each album 😄

m3u export / import is available tho.

Unless I did not understand your request?

Are you on Windows? Thumbar controls should be available.

On mac, those options are already available via zoom in/out

![Screen Shot 2019-

[2019-07-19 13:24] Fantoom commented on #501
Sorry I mean pitch ^^

For example, I have subfolders in my main music folder (Rap, LoFi, EDM, etc)
And It will be good if the program creates playlists Rap, LoFi, EDM, etc

I am on Windows, Thumbar???

I am on Windows.

[2019-07-19 13:32] martpie commented on #501
Won't be doable until https://github.com/martpie/museeks/issues/128 is done unfortunately

And It will be good if the program creates playlists Rap, LoFi, EDM, etc.
It's can be an option in settings.

Mmmh it looks like a really specific usecase, I'll think about it.

![37399750-a3cbc278-27a8-11e8-8fcd-58b60b812f62](https://user-images.githubusercontent.com/1311607/61538626-13e34f80-aa3a-11e9-8b63

[2019-07-19 13:44] Fantoom commented on #501
Will be good if you make it

There are not any controls

ctrl + and - are not working

[2019-07-19 15:51] #494 closed

[2019-07-19 15:51] #495 closed

[2019-07-22 08:55] #487 closed

[2019-07-22 08:57] martpie commented on #488
I don't think this will be done short-term. Maybe Museeks 2.0 🤔

If there is a file sync feature with Plex, I recommend using it in the meantime

[2019-07-22 08:58] #436 closed

[2019-07-22 08:59] martpie commented on #464
Closing for cause of non-feasibility. This should be done at the OS level to at least mute the sound when headphones are unplugged

[2019-07-22 08:59] #464 closed

[2019-07-22 09:22] YurySolovyov commented on #481
Related: #338 #422 #130

[2019-07-22 09:59] martpie commented on #481
Let's close this in favor of those then

[2019-07-22 09:59] #481 closed

[2019-07-26 11:34] scriptspry opened #503 "Automate cask update on every release"
[Existing cask](https://github.com/Homebrew/homebrew-cask/blob/master/Casks/museeks.rb) needs to be auto updated on every release.

Also, adding a note in the README about cask availability will be helpful.

[2019-07-31 10:58] modernduck opened #504 "Bug : When create playlist and add song to playlist have to restart app"
(Version 0.11.1 (0.11.1))

Hi When create playlist and add song to playlist; It didn't show up on playlist (but you could play whole playlist) But when I restart the app I could see list of tracks in the playlist again.

[2019-07-31 18:20] martpie commented on #504
Thank you for the report, I'll investigate!

[2019-08-02 07:26] modernduck commented on #504
I think it happen  like this too
when you remove track in playlist to be zero  => then add new track => won't see track in playlist

[2019-09-02 11:12] martpie commented on #114
Electron ships with ffmpg, there might be a way to use this version directly.

https://electronjs.org/docs/development/upgrading-chromium#verify-ffmpeg-support

[2019-09-02 13:06] YurySolovyov commented on #114
There might be an issue where chrome only calls ffmpeg for whitelisted formats, so no matter how capable ffmpeg is, chrome might just not pass it through. This is speculation tho.

[2019-09-03 03:48] igorer88 commented on #459
We can get the current theme with this.
`gsettings get org.gnome.desktop.interface gtk-theme
`
 Maybe we could think on a workaround?

[2019-09-03 06:08] YurySolovyov commented on #459
I wonder if that's available via dbus.

[2019-09-05 11:28] martpie commented on #31
https://lists.w3.org/Archives/Public/www-archive/2014Oct/0007.html
http://www.htmlfivewow.com/slide58

[2019-09-07 23:58] FinlayDaG33k commented on #422
I also would like this functionality to be added.
The music player (Blackplayer EX) on my phone has it and the Plex app has it.

I personally sort my music like `/music/genre/<artist or band> - <album name> (<year>)/<artist or band> - <title>.<ext>`.
It makes it a lot easier to find a specific one I want since I know where to find it at all times (without having to remember the name of the track,

[2019-09-08 04:23] igorer88 commented on #422
@YurySolovyov, @martpie
How about to create independents music libraries,
for example:
- `Music/<Lib name>/<artist or band>/<album>`
- `Music/OST/<movie>`
- `Music/Recordings/<song title>`

[2019-09-27 07:23] bohrasankalp commented on #101
@Igorer88 refer https://www.mp3tag.de/en/  for rich UI. When did added ID3 tags, it's done for multiple files at a time instead of single file. Opening new window is not good option, instead create new tab.

[2019-10-21 12:05] linsui commented on #493
Eletron builder can generate checksum in latest.yml automatically. See https://www.electron.build/configuration/publish

[2019-12-02 05:01] codedcosmos opened #510 "Recusive folder searching (Like for itunes library)"
I don't think this will be to difficult to implement (unless it's a bug then it might be hard to track down).

I buy all my music on iTunes, copy it to my zfs partition and drag the folders into museeks under import music. Unfortunately it seems to only get files inside folders, and not files inside folders inside folders. Not loading 20% of my library, which I have to do largely manually.

I assu

[2019-12-02 05:06] codedcosmos commented on #510
Looking into it more I think it's an issue on my end, though I have no idea why. Il close until im certain otherwise.

[2019-12-02 05:06] #510 closed

[2019-12-02 08:56] martpie commented on #510
Interested in the conclusion of this :) I never tested the app with zfs, and Node may have some problem with it.

[2019-12-03 02:18] codedcosmos commented on #510
I cannot replicate what I experienced yesterday, it works perfectly on both ext4 and zfs. If the issue pops up again, I will make a new one issue with steps to reproduce, and reference it here.

I am not certain what was happening but at the moment it appears fine.

[2020-02-01 00:34] ShipRekt101 opened #511 "Playback Speed"
I can't set any playback speed between 1 and 2. There is no change until 2, which then suddenly speeds up the song.

[2020-02-06 01:41] ldexterldesign commented on #380
Got nothing against the setting option but by default single click to play is poor UX IMO

Regards

[2020-02-06 01:42] ldexterldesign commented on #397
https://deadbeef.sourceforge.io/ does this and I thought it was a great idea, especially as there doesn't appear to be a "last played" feature

Regards

[2020-02-06 03:03] ldexterldesign commented on #62
Screen cast: https://www.dropbox.com/s/zm93w28rsqsvj1k/foo.webm?dl=0

Hmm, primary sorting by album isn't secondary sorting by track - bug?:

If yes then happy to create a new issue
If no then makes sense to reopen this issue
If related to another TODO then probably best to link it as I'm sure others will come to find this

Yours hopefully

PS files have track # ID3 tags:

![Screenshot 2020-02-06

[2020-02-06 12:18] martpie commented on #62
You can see the order here: https://github.com/martpie/museeks/blob/master/src/ui/constants/sort-orders.ts

Feel free to open an issue if you disagree with one :) (possible I made a mistake too)

[2020-02-06 12:21] martpie commented on #397
Happy to re-open the issue. There reason why we do not do it is for the reason I mentioned above.

If other popular music players are keeping the state when quitting the app, I'll be happy to implement this feature

[2020-02-06 12:25] martpie commented on #397
I'll add this: I'd be more convinced by UX arguments on why is it a good thing for the user, rather than just "this player is doing it"

[2020-02-06 12:35] ldexterldesign commented on #397
My listen use cases are either:

a) artist back-catalogs (i.e. chronologically, earliest to latest releases), or;
b) playlists (i.e. collection of random tracks form multiple artists)

For a) remembering app state is useful

For b) remembering app state isn't so useful

However, if remembering app state is default then it saves me time with a) (i.e. recalling which artist I last listened to and wh

[2020-02-06 12:41] ldexterldesign commented on #62
I see, so the reason [t]his isn't working is because track numbers aren't implemented (as columns) yet?

Cheers

t:

[2020-02-06 17:10] a2nt commented on #397
My use cases:
+ I often listen music in a random order and don't want the same song to be played again next time I launch player.
+ Sometimes I listen to audio books and I'd like to continue listen a book from a specific place
+ I'd like to continue listen the music using my car PC when I start the engine

[2020-02-06 22:07] martpie commented on #62
It should: `[['loweredMetas.album', parseArtist, 'year', 'disk.no', 'track.no']`

Can you open an issue with screenshots and files to reproduce the issue?

[2020-02-07 06:37] ldexterldesign commented on #397
To be clear my definition of remember app state is to resume the track - and even the track play position (e.g. 33 seconds) - on restart

Regards

[2020-02-16 22:27] #511 closed

[2020-02-16 23:17] qcasey opened #514 "Bug: Song duration not detected + infinite progress bar"
I want to thank you for keeping this repo up to date!

On a very limited number of songs the duration is not detected, and the progress bar when playing these songs scales infinitely. I can look into both these issues since I have the files but I wanted to keep a tab of it here for easier merging.

![Screenshot from 2020-02-16 14-49-04](https://user-images.githubusercontent.com/1429672/74614737-5d

[2020-02-17 09:14] martpie commented on #514
Gotta say I laughed at the screenshot 😄 thank you for reporting these and submitting fixes 🙌

[2020-02-17 10:34] #514 closed

[2020-02-17 10:40] martpie commented on #504
Repro:

- Create new playlist
- Go to tracks list
- Add tracks to the playlist
- Go back to the playlist screen
- Playlist is not refreshed

[2020-02-17 11:11] #504 closed

[2020-02-17 16:29] martpie commented on #493
256 checksums will added from 0.11.2 release.

[2020-02-17 16:29] #493 closed

[2020-02-17 16:42] linsui commented on #493
Thanks!

[2020-02-20 09:38] martpie commented on #489
Not sure to get this one 🤔

[2020-02-20 09:39] #492 closed

[2020-02-20 09:42] martpie commented on #413
Doing some cleaning, if it still happens in the latest release, please poke me and I'll re-open it :)

[2020-02-20 09:42] #413 closed

[2020-02-20 09:45] martpie commented on #417
I am thinking about implementing this one, but I am struggling for the design part. A shortcut could do the trick, but a button/action/something would be really helpful too for people who are not keyboard-only.

[2020-02-20 09:45] martpie commented on #416
Doing some cleaning, if it still happens in the latest release, please poke me and I'll re-open it :)

[2020-02-20 09:45] #416 closed

[2020-02-20 09:50] martpie commented on #380
I don't think I'll implement this one unless someone can come with a strong UX recommendation it is/can be a good idea.

[2020-02-20 09:50] #380 closed

[2020-02-20 09:53] martpie commented on #357
Closing this in favor of each individual issue.

[2020-02-20 09:53] #357 closed

[2020-02-20 13:51] YurySolovyov commented on #417
Options (not mutually exclusive):
- Context menu item (Kinda like in Chrome dev tools)
- An icon/button in header (it is pretty crowded already tho)
- Make track name clickable

[2020-02-20 13:57] ldexterldesign commented on #489
?

[2020-02-20 14:15] martpie commented on #489
I mean, is it done or are you expecting more?

[2020-02-20 14:19] ldexterldesign commented on #489
Issue seems resolved as OPs request tests fine for me 👍

I think my comment was a general aside

Feel free to close issue

Regards

[2020-02-20 14:22] #489 closed

[2020-02-24 12:33] s0 commented on #31
I've been playing around with the WebAudio API in Musseks for a slightly different reason (accurate timestamps for synchronizing audio with lighting), which it turned out the HTML `<audio>` tag was insufficient for. I'd be willing to attempt implementing hlgapless playback in Musseks using web audio, though I cannot provide a timescale.

[2020-02-24 12:41] s0 commented on #31
This is also a useful article: http://dalecurtis.github.io/llama-demo/index.html

[2020-02-24 13:26] martpie commented on #31
@s0 great to hear! #128 is a blocker for that too. I really want to solve this so I will try to find myself some time to work on AudioContext.

I would also like to try https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/audioTracks as maybe Gapless playback comes baked in.

[2020-02-25 13:05] ldexterldesign opened #518 "Integrate http://listenbrainz.org #Feature"
Hi,

Hope you're well

Thanks for wonderful software

Please consider integrating [L]istenBrainz

ListenBrainz is free and open-source software and the [M]etaBrainz Foundation (non-profit) has contributed some insanely useful products for music management so it's worthy of our time

The ListenBrainz project will publish its data as open data, unlike competitors (cough, Last.fm, cough)

If you're r

[2020-02-25 13:05] ldexterldesign commented on #231
👋 https://github.com/martpie/museeks/issues/518

[2020-02-25 13:16] ldexterldesign commented on #518
Also http://libre.fm exists

[2020-03-02 19:16] ldexterldesign opened #519 "Remember tracks list scroll position when switching views"
Hi!

Hope you're well

Thanks for wonderful software

As a user, when I switch/tab between Library, Playlist and Setting views, I want states to persist instead of defaulting to the top of the view (i.e. first track in list) so I don't have to scroll back to my previous state (e.g. a track half way down my list)

# Steps to reproduce issue

1. Click (i.e. play) a track in Library, preferably somet

[2020-03-02 19:19] qcasey commented on #519
I completely agree, this would be nice

[2020-03-02 19:27] qcasey commented on #519
What I found regarding react-router-dom:

https://reacttraining.com/react-router/web/guides/scroll-restoration/generic-solution

[2020-03-02 20:56] martpie commented on #519
Scroll restoration won't work here as the scroll is not on the whole page but on a nested element.

I agree it should be done.

ps: careful with the phrasing, please don't be rude.

[2020-03-02 21:23] ldexterldesign commented on #519
As a [who], [when] [where], I [what] because/so [why] | foo #[type]

https://en.wikipedia.org/wiki/User_story#Principle

😁

[2020-03-04 19:10] ldexterldesign commented on #62
Hi @martpie,

FYI will open a new issue in due course if I suffer the same issue with the next batch of imported music

Aside, is there a reason a track number column isn't available?

Tonight I have an album where a couple of tracks have inconsistent artist tags which throws out the album's natural play order and I'm unable to fix it because there's no track number column

Hope to hear back

Sinc

[2020-03-04 19:50] martpie commented on #62
Yep, this is a limitation of the current view, hopefully #130 will help fix that :)

If track number was available, all the tracks "1" would be grouped together, then all the "2", etc. That is why it makes no sense to display (for now) a "tracks number" column

[2020-03-04 20:32] ldexterldesign commented on #62
Search/filter by album (see screen shot above) then sort by track number would allow me to fix this use case so, if #130 is bottlenecking this then, I would suggest a track number column would make sense now

[2020-03-04 21:45] martpie commented on #62
Cf #401 then I believe :)

[2020-03-04 21:56] ldexterldesign commented on #401
https://github.com/martpie/museeks/issues/62#issuecomment-594762282

FYI I would take track # over genre any day of the week

Best regards

[2020-03-10 15:20] ldexterldesign commented on #518
Also, [l]ibre.fm exists too

Regards

[l] https://libre.fm/user/ldexterldesign

[2020-03-13 18:19] s0 commented on #31
Made progress with updating my precise-audio library for gapless playback with a small POC in the browser. Seems to work relatively well in chrome when playing LAME encoded MP3 files:

* Library: https://github.com/synesthesia-project/synesthesia/tree/gapless/precise-audio
* Example: https://github.com/synesthesia-project/synesthesia/tree/gapless/core/examples/playlist-controller

After I've tight

[2020-03-13 18:28] s0 commented on #128
I've effectively implemented this in https://github.com/s0/museeks/blob/synesthesia/src/ui/lib/player.ts, as part of the work towards #31 (see https://github.com/martpie/museeks/issues/31#issuecomment-598853728).

Hopefully I'll soon have a PR open that will be able to close this and #31.